[2020-12-19 18:26] DJay-X opened #6 "SwitchBot Curtain Support"
@donavanbecker First of all I want to say thank you for starting this project and for your time and work sharing with the community. 👍
I can't wait to get my token from SwitchBot Support to start testing.

Are you planing to integrate all SwitchBot devices like in my case using Bot, Curtain, Humidifier?
Of course I'm happy to help testing. 😇

Thanks again.

[2020-12-19 19:21] donavanbecker commented on #6
@DJay-X, I haven't got my token yet either. I can't guarantee the plugin will work out of the box once I get my token, since I haven't been able to test it with it yet.

Once I get my Token and I can get humidifier supported then I will start working on other SwitchBot devices.

[2020-12-19 19:23] donavanbecker opened #8 "(Testers Welcome) SwitchBot Humidifier Support - Currently Working in latest Beta - Releasing Soon New Versions Soon"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

Support for SwitchBot Humidifier.

**Describe alternatives you've considered**

Displayed as a Humidifier in HomeKit.

**Additional context**

None.

[2020-12-19 19:25] donavanbecker opened #9 "SwitchBot Hub Mini Support"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

Support for SwitchBot Hub Mini.

**Describe alternatives you've considered**

Displayed as IR Devices in HomeKit.

**Additional context**

None.

[2020-12-19 19:26] donavanbecker opened #10 "SwitchBot Bot Support"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

Support for SwitchBot Bot.

**Describe alternatives you've considered**

Displayed as a Switch in HomeKit.

**Additional context**

None.

[2020-12-20 12:22] matclothier opened #11 "SwitchBot Token"
Hi,

There isn’t an option to generate a token in the latest version of the app on iOS. I have a hub mini and Curtains.

Thanks,

Mat

[2020-12-20 12:25] matclothier opened #12 "Can’t generate a token"
There is no way in the latest iOS app to generate a token. I have a hub mini and Curtains.

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

**Device Model:**

# **Environment:**

- **Node.js Version**:
- **NPM Version**:
- **Homebridge Version**:
- **Homebridge SwitchBot Plugin Version**:
- **Homebridge Config UI X Plugin Version**:
- **Operating System**:

[2020-12-20 12:25] #12 closed

[2020-12-20 12:37] donavanbecker commented on #11
@matclothier, see [SwitchBotAPI](https://github.com/OpenWonderLabs/SwitchBotAPI/issues/1)

[2020-12-20 12:41] matclothier commented on #11
Great thanks. I have requested the token. Do you know if the plug-in will support the hub mini and Curtains?

[2020-12-20 12:59] donavanbecker commented on #11
@matclothier Since the api documents just came out a few days ago, and I just put this plugin together, no devices are working currently.

I am planning on adding the hub mini, once I get one and once I get my token to make sure the plugin works. This is all put together thinking it will work once I get my token, but no promises. 😀

I could potentially add curtain support in the future. There are

[2020-12-20 14:20] matclothier commented on #11
I have 3x Curtains in pairs, a hub mini and a switch bot. I am happy to give you access to test anything you need or do testing myself. I have requested my token

[2020-12-20 21:14] jahnkenneth commented on #6
Curtains, please. 😀 And I will buy you a beer!
If you post a paypal address, I am sure the donations will come!

[2020-12-20 22:22] donavanbecker commented on #6
@jahnkenneth I will have to wait for my own Token code before we can get to excited. As long as I can get my SwitchBot stuff into the plugin, then I will start with others. I believe there are a few plugins currently that work with the curtains.

[2020-12-21 03:48] SwitchBot-Wonderlabs opened #14 "Change the project name"
Hi, @donavanbecker ,
I'm sorry we could not spend a lot of time in the open source community.
And I'm glad you started developing this plugin, thank you for your time.
Can you change the project name to something like homebridge-switchbot-xxx?
Also, can you join [OpenWonderLabs ](https://github.com/OpenWonderLabs) and move the project to that organization?

[2020-12-21 03:57] donavanbecker commented on #14
@SwitchBot-Wonderlabs That works for me to move it to your organization.

[2020-12-21 04:11] donavanbecker commented on #14
@SwitchBot-Wonderlabs do you want me to keep the name?

[2020-12-21 04:20] SwitchBot-Wonderlabs commented on #14
Maybe change to homebridge-switchbot-openapi.
I invite you to join the SwitchBot organization on [NPM](https://www.npmjs.com/).

[2020-12-21 04:26] donavanbecker commented on #14
do you want that changed for both npm and GitHub? if you want github changed, you will have to do it now since I don't have security. if you just want npm let me know.

[2020-12-21 04:29] SwitchBot-Wonderlabs commented on #14
I change the project name in github.
Please change the name in npm.

[2020-12-21 04:32] donavanbecker commented on #14
@SwitchBot-Wonderlabs I have unpunished on npm and I am now re publishing under homebridge-switchbot-openapi. Once published, I will moved to organization on npm.

[2020-12-21 04:35] donavanbecker commented on #14
@SwitchBot-Wonderlabs all done! is there a better way for us to communicate than issues?

[2020-12-21 04:35] #14 closed

[2020-12-21 04:42] SwitchBot-Wonderlabs commented on #14
Either way, it's up to you.

[2020-12-21 04:50] donavanbecker commented on #14
@SwitchBot-Wonderlabs the homebridge discord server is probably easiest. if that works? same username on there.

[2020-12-21 04:51] donavanbecker commented on #14
@SwitchBot-Wonderlabs I am excited to get this project going. but still need to get the open token first. not even sure if what I have will work.

[2020-12-21 06:16] SwitchBot-Wonderlabs commented on #14
What's your SwitchBot account's username?

[2020-12-21 06:31] donavanbecker commented on #14
donavan.becker@icloud.com

I believe.

[2020-12-21 12:45] Kohle81 commented on #9
Where can I find the config for the manual installation of this plugin for the Hub mini?

[2020-12-21 14:00] donavanbecker commented on #9
@Kohle81 We are working on adding support. Once support is added, I can reach back out on this issue.

[2020-12-21 15:15] Kohle81 commented on #9
Thanks for your answer. Great!

[2020-12-24 05:20] Bgoshua commented on #11
Willing to help where I can as well. Still waiting on my token, but I have a humidifier, 2 curtains (rod) and 3 switch-bots 🙌

[2020-12-24 05:35] donavanbecker commented on #11
@Bgoshua Currently the humidifier should be working with the beta (planned release 12/25), if you wanna try it out. Sounds like they will be releasing the an app update to get the tokens around the 1st of the year.

[2020-12-24 05:37] Bgoshua commented on #11
Rad! Thanks for the heads up!

[2020-12-24 05:42] donavanbecker commented on #11
I will be adding support for others.

[2020-12-24 08:13] DJay-X commented on #11
Received my Token from SwitchBot Support today and going to check things out now.

[2020-12-24 10:44] DJay-X commented on #9
@donavanbecker @SwitchBot-Wonderlabs

I received my Token and started with the Plugin.
However, not any device is showing up in HomeKit. Not sure where to start.
A lot of "undefined" in the log.

Mostly I would love to have my SwitchBot Curtain and SwitchBot Bot to work.
Humidifier is a nice add-on later but not so important at the moment.

Please guide me in the right direction how I can help wit

[2020-12-24 12:47] donavanbecker commented on #9
@DJay-X Are you using the latest beta?

[2020-12-24 13:45] DJay-X commented on #9
I installed it from Config UI previously.
Now I did it manually.

[code]
Unfortunately now Homebridge is crashing.
I run your plugin in a 2nd-instance and loading there only the plugins I need.
Has the name changed? I load "homebridge-switchbot-openapi"

[code]

[code]

[2020-12-24 13:52] DJay-X commented on #9
Found it. The config has changed. From Switch-Bot to SwitchBot ;)

[code]

[2020-12-24 15:37] donavanbecker commented on #9
Yeah I publish v0.1.0 as a placeholder and for users to test their open tokens. Sorry about that!

[2020-12-25 09:01] DJay-X commented on #9
v1.0.0

[2020-12-25 09:37] DJay-X commented on #8
Humidifier is already working great and I didn't notice any issue with a quick test. 👍

![Uploading RPReplay_Final1608888853.2020-12-25 10_37_06.gif…]()

[code]

[2020-12-25 12:52] donavanbecker commented on #8
@DJay-X I just released v1.0.0.

I will be looking at adding others soon.

Merry Christmas!

[2020-12-25 12:52] #8 closed

[2020-12-27 13:10] DJay-X commented on #6
@donavanbecker @whatUwant
With v1.0.2-beta.2 the curtain bots respond. But I can't even describe how. 😅 It's a bit strange.

They don't respond instantly and not to the % level I choose. I.e. I turn to 100% (open) the App is showing 72% and the curtain is somewhere else.

I'm also not sure how I can help. 🤓 It's not refreshing and not responding like expected. Not smooth at all. At this beta level

[2020-12-27 13:15] donavanbecker commented on #6
@DJay-X until I get my curtain bots, I we will have to keep these in beta for now.

[2020-12-27 13:19] DJay-X commented on #6
I would expect @SwitchBot-Wonderlabs is sending you all Bots free and with Express delivery. 😌

If there is anything I can do to help ongoing testing, please of course let me know.

Thanks again to all who contribute to bring the plugin forward step by step.

[2020-12-27 16:49] whatUwant commented on #6
The API is not reporting correct status of the device (see https://github.com/OpenWonderLabs/SwitchBotAPI/issues/4). Before that's resolved, I guess we'll just have to wait.
The fact that the API is on the cloud instead of locally on the hub also makes the response not as quick as hoped.

[2020-12-28 06:43] SwitchBot-Wonderlabs commented on #6
I have modified the judgment condition of PostionState,  the state updates will be correct normally.
But, if Hubmini control fails, the status request will continue. Needs to be fixed.

Another issue is that the initialization state is not correct in Home APP.
![homeapp](https://user-images.githubusercontent.com/73269232/103194537-f565d100-491a-11eb-97bb-8ec7d3736cd1.png)

[2020-12-28 14:19] DJay-X commented on #6
@donavanbecker @SwitchBot-Wonderlabs

Crash of entire homebridge because of SwitchBot API / Token Problem?
Not depending on v1.0.1 or v1.0.2-beta.3.

If something like this happens, probably the Plugin shouldn't crash the entire Homebridge in the future.
[28.12.2020, 14:42:24] Got SIGTERM, shutting down Homebridge...

I hope the attached log helps, to get everything up and running again fast.

[co

[2020-12-28 14:47] donavanbecker commented on #6
@DJay-X can you please post this in a new issue?

[2020-12-28 15:25] DJay-X opened #19 "SwitchBot API / Token Problem - Causes Homebridge Crash"
@donavanbecker @SwitchBot-Wonderlabs

Crash of entire homebridge because of SwitchBot API / Token Problem?
Not depending on v1.0.1 or v1.0.2-beta.3.

If something like this happens, probably the Plugin shouldn't crash the entire Homebridge in the future.
[28.12.2020, 14:42:24] Got SIGTERM, shutting down Homebridge...

Unfortunately I had to completely remove SwitchBot form the config.json for now

[2020-12-28 15:28] DJay-X commented on #19
@donavanbecker That is too strict I think. 🤷🏼‍♂️

[2020-12-28 15:31] donavanbecker commented on #19
@DJay-X the issue validate looks at the issue templates if they are not followed then it automatically closes the issue. I know you skipped it since I don't see specific text that the templates follow. but no big deal I can just reopen it. The templates are good because it asks for more info than what is usually provided.

[2020-12-28 15:32] donavanbecker commented on #19
@DJay-X do you have an example or extra log of when this happened. I understand the error, but to have more context will help fix this.

[2020-12-28 15:38] DJay-X commented on #19
Out of the blue, the crash with the attached errors occurred. Homebridge not working at all and running in a "trying to start again" loop.
I changed nothing. Token is the same as from the beginning.
I rebooted Homebridge several times but that didn't fix the problem. It always ends after the errors with "Got SIGTERM, shutting down Homebridge..."
Going back to v1.0.1 didn't help. v1.0.2-beta.3 neit

[2020-12-28 15:43] donavanbecker commented on #19
@DJay-X, I haven't ran into this at all. Can you post your switchbot config when it was in homebridge?

[2020-12-28 16:13] DJay-X commented on #19
Well the config is nothing special and not a lot to change. It also as of course not changed the last days.

   {
            "name": "SwitchBot",
            "credentials": {
                "openToken": "xxxxxxxx",
                "notice": "Keep your token a secret!"
            },
            "platform": "SwitchBot"
        }

[2020-12-28 16:18] donavanbecker commented on #19
@DJay-X and if you add this back in you get the same error?

[2020-12-28 16:36] DJay-X commented on #19
I already updated.
However, now Homebridge does not crash anymore, but the Plugin is not discovering anything anymore like before.

[28.12.2020, 17:33:21] Loaded plugin: homebridge-switchbot-openapi@1.0.2-beta.4
[28.12.2020, 17:33:21] Registering platform 'homebridge-switchbot-openapi.SwitchBot'
[28.12.2020, 17:33:21] [SwitchBot] Initializing SwitchBot platform...
[28.12.2020, 17:33:21] [SwitchBot

[2020-12-28 16:54] donavanbecker commented on #19
@DJay-X yeah not sure. I posted another beta that should catch even more errors.

[2020-12-28 17:05] DJay-X commented on #19
Thanks a lot @donavanbecker

But unfortunately I don't see anything additional.

[code]

I also unplugged and re-plugged the Hub mini, restarted homebridge again but that didn't change anything.
No devices are discovered anymore. 🤷🏼‍♂️

[2020-12-28 18:10] donavanbecker commented on #19
I would open up a ticket through the SwitchBot app, letting them know it looks like your token not longer works.

FYI, I am not having this issue.

[2020-12-28 19:17] matclothier commented on #6
This is working for me but some of my Curtains only show as 99% closed in the SwitchBot app even though they are fully closed. I tried recalibrating but that doesn’t help. As they are only 99% closed they get stuck on the status closing in Homebridge/Apple home app. Can I be changed so that 99% closed is treated as fully closed?

[2020-12-28 21:37] donavanbecker commented on #6
@matclothier, I have added an option in the config to allow you to set the min and max. Since I don't have curtains yet I can test this out. Can you install the latest beta? set your config using the new option as you can see below and report back if it is working correctly?

<img width="780" alt="Screen Shot 2020-12-28 at 3 07 27 PM" src="https://user-images.githubusercontent.com/9875439/10324312

[2020-12-28 21:47] matclothier commented on #6
I updated and set the option but it still shows the Curtains that are at 99% as closing. Any logging I can send or anything to help?

[2020-12-28 21:50] matclothier commented on #6
I just noticed it is failing to get the status since the update with a 401 error in the log

[2020-12-28 21:56] donavanbecker commented on #6
okay we I have pushed another beta. can you try that?

[2020-12-28 22:01] donavanbecker commented on #6
```401 | Unauthorized | Authorization for the API is required, but the request has not been authenticated.```

can you post logs?

[2020-12-28 22:13] matclothier commented on #6
Here is the main log from homebridge. Let me know if you need something different. #
[homebridge.log.txt](https://github.com/OpenWonderLabs/homebridge-switchbot-openapi/files/5748928/homebridge.log.txt)

[2020-12-28 22:17] donavanbecker commented on #6
can you open a new issue? with this

[2020-12-28 22:33] matclothier opened #20 "SwitchBot Curtain Beta Causing 401 Error"
Since installing the new beta I get a 401 error.

Install the latest beta

You get a 401 error

[code]

**Homebridge Config:**

[code]

**Screenshots:**

**Device Model:**

# **Environment:**

- **Node.js Version**:
- **NPM Version**:
- **Homebridge Version**:
- **Homebridge SwitchBot Plugin Version**:
- **Homebridge Config UI X Plugin Version**:
- **Operating System**:

[2020-12-28 22:44] donavanbecker commented on #20
@matclothier, if you try installing older versions are you getting this error?

[2020-12-28 22:54] matclothier commented on #20
It works fine with 1.01 apart from the closing issue but not 1.02 beta.

[2020-12-29 02:01] SwitchBot-Wonderlabs commented on #20
Error 401 is caused by too many requests from v1.0.2 beta.3.

[2020-12-29 06:27] SwitchBot-Wonderlabs commented on #6
Please test the v1.0.2-beta.8.

[2020-12-29 06:28] SwitchBot-Wonderlabs commented on #20
@matclothier try v1.0.2-beta.8.

[2020-12-29 07:25] DJay-X commented on #19
Yesterday I opened a Ticket for SwitchBot an I pointed to the - probably - Token issue and this conversation.
I have no reply yet. But this morning I installed @1.0.2-beta.8 and restarted homebridge.
Now the devices are discovered again. Hopefully this will not happen again when we are out of beta. 😅

[code]

[2020-12-29 09:17] matclothier commented on #20
That worked. All working perfectly now. Great job thanks

[2020-12-29 09:18] matclothier commented on #6
Fixed. Great job

[2020-12-29 10:41] donavanbecker commented on #19
Error 401 is caused by too many requests from v1.0.2 beta.3.

[2020-12-29 10:44] DJay-X commented on #19
@donavanbecker @SwitchBot-Wonderlabs I don't know what to do now.

The log is looking okay now as above, but there are no devices showing up at all in the Home / Eve App.

I deleted the config.json part, deinstalled the plugin, restart homebridge.
Installed the Plugin v1.0.2 beta.8 and the config part. Restarted homebridge again.

But still there is no device showing up. Not the humidifier, not th

[2020-12-29 10:50] donavanbecker commented on #19
@DJay-X Are you using Homebridge UI?

[2020-12-29 11:02] donavanbecker commented on #6
That's Awesome. Is the config option to allow you to set the min and max, also working for you?

[2020-12-29 11:12] matclothier commented on #6
The closing works great now but when open they show as 99% open

[2020-12-29 11:22] DJay-X commented on #19
I do.

OS | Raspbian GNU/Linux Stretch (9)
raspberrypi-3BPlus
192.168.178.111
Node v14.15.3
Npm v6.14.10
homebridge v1.2.5
Config UI X v4.36.0
/var/lib/homebridge-2nd-instance
/var/lib/homebridge-2nd-instance/config.json

I already did yesterday and now again. But there are also no SwitchBot Devices.
After I checked I manually deleted cachedAccessories File yesterday, also without any success.

It

[2020-12-29 11:24] donavanbecker commented on #19
@DJay-X Are you on the homebridge discord server?

[2020-12-29 11:33] DJay-X commented on #19
I'm DJay#8716 but never used it. 😅 Not very familiar with it. But we can try.

[2020-12-29 13:46] jahnkenneth commented on #6
Could you post this to nom so I can install via Hoops please? :-)

[2020-12-29 13:57] donavanbecker commented on #6
I would recommend switch to homebridge, since we develop this plugin around homebridge not HOOBs.

[2020-12-29 14:16] #20 closed

[2020-12-29 18:44] jahnkenneth commented on #6
Even if I use HomeBridge Ui X I am not able to install betas if they are not published to NPM

[2020-12-29 20:06] donavanbecker commented on #6
You are able too. You install the latest and then you select other versions and select beta. As you see below.
![image](https://user-images.githubusercontent.com/9875439/103311087-02e48f00-49df-11eb-9f28-3d81cd631a54.jpeg)![image](https://user-images.githubusercontent.com/9875439/103311092-06781600-49df-11eb-9c7d-d4dea12b3b0c.jpeg)

[2020-12-29 20:07] donavanbecker commented on #19
@DJay-X Good to close?

[2020-12-29 21:07] #19 closed

[2020-12-30 14:37] matclothier commented on #6
I have installed beta 10 and for each pair of Curtains the main Curtain still shows as 99% open but the second Curtain now shows as closed and doesn’t respond. I have them configured via SwitchBot as pairs of Curtains

[2020-12-30 16:54] donavanbecker commented on #6
@matclothier can you clear cache on those curtains? and then see what it's like in the home app? My curtain should be here in about a week and a half. Once I get them, I will be able to actually troubleshoot locally.

[2020-12-30 17:08] matclothier commented on #6
Sorry that is the same. I’ll wait until you get your to test. Thanks for everything.

Thanks,

Mat
+44(0)7990 591055
________________________________
From: Donavan Becker <notifications@github.com>
Sent: Wednesday, December 30, 2020 4:54:57 PM
To: OpenWonderLabs/homebridge-switchbot-openapi <homebridge-switchbot-openapi@noreply.github.com>
Cc: Mat Clothier <mat.clothier@cloudhouse.com>; Mention <m

[2020-12-30 19:43] paintthenet commented on #20
i have this issue in v1.0.2-beta.10

[30/12/2020, 20:34:41] [SwitchBot] Failed to Discover Devices. "Request failed with status code 401"

and one Curtain is not available in the Device List . The other works fine.

There is also one ID in the Hide Device Settings and I cannot delete the id.

OS | Raspbian GNU/Linux Buster (10)
Node.js Version | v14.15.3
Npm v6.14.9
Homebridge  v1.1.7
Plugin v1.0.

[2020-12-30 19:58] donavanbecker commented on #20
Can you open a separate issue with your specific setup info?

[2020-12-31 07:58] SwitchBot-Wonderlabs commented on #20
@paintthenet Do you have a lot of devices?  You can try increasing the TTL.

[2020-12-31 11:32] jahnkenneth commented on #6
The plugin has been working prefect for the last few days, but today I get this error:
[31/12/2020, 12:27:42] [SwitchBot] Failed to Discover Devices. "Request failed with status code 401"

[2020-12-31 11:38] jahnkenneth opened #21 "Request failed with status code 401"
**Describe The Bug:**

The plugin has been working prefect for the last few days, but today I get this error:

[31/12/2020, 12:27:42] [SwitchBot] Failed to Discover Devices. "Request failed with status code 401"

I have 4 bots

**To Reproduce:**

Start HomeBridge

**Expected behavior:**
Not getting error 401

**Logs:**

[31/12/2020, 12:27:42] [SwitchBot] Failed to Discover Devices. "Request failed

[2020-12-31 12:22] donavanbecker commented on #21
@jahnkenneth You will need to post your config

[2020-12-31 13:00] jahnkenneth commented on #21
{
    "bridge": {
        "name": "Homebridge 3E15",
        "username": "0E:CB:5A:E7:3E:15",
        "port": 51552,
        "pin": "560-32-611"
    },
    "accessories": [],
    "platforms": [
        {
            "name": "Config",
            "port": 8581,
            "platform": "config"
        },
        {
            "name": "SwitchBot",
            "credentials": {
                "openTok

[2020-12-31 18:25] donavanbecker commented on #21
@jahnkenneth can you try setting your TTL to 300? and then see if it works itself out. We are changing that as default going forward with the next release.

[2020-12-31 20:02] jahnkenneth commented on #21
Will try. When wil I be «unblocked» (assuming that was the case..)?

Med hilsen,
Jahn Kenneth Juliussen

[2020-12-31 21:08] donavanbecker commented on #21
@jahnkenneth, I am not sure. I have only had this happen once. It was resolved that day. so at least by tomorrow.

[2021-01-02 21:03] jahnkenneth commented on #21
Sikring now! 👍🏻

[2021-01-02 21:03] #21 closed

[2021-01-04 19:19] donavanbecker opened #24 "Homebridge Beta v1.3.0 Issues"
**Describe The Bug:**

Homebridge Beta v1.3.0

**To Reproduce:**

Install Homebridge Beta v1.3.0

**Expected behavior:**

Valid  Value.

**Logs:**

[code]

**Device Model:**

SwitchBot Humidifier

# **Environment:**

- **Node.js Version**: v14.15.3
- **NPM Version**: v6.14.10
- **Homebridge Version**: v1.3.0-beta.41
- **Homebridge SwitchBot Plugin Version**: v1.0.2-beta.12
- **Homebridge Config UI

[2021-01-06 12:21] firebowl commented on #10
Yes please build in support for the bots.

[2021-01-07 15:13] SebastiaanWiewel opened #25 "Curtains - Excessive Calls"
**Describe The Bug:**

When slowly changing the open and close slider in the Home app on iPhone, the Curtains will receive multiple consecutive calls to change position. The Homebridge plugin captures the request to move and sends a call to the API making the Curtains move little by little stopping in between. The Curtains will take a considerable time moving to the final position this way before

[2021-01-08 09:43] MikeDeltaHH commented on #10
Hi!

Any news for the Bot support?

[2021-01-08 13:07] donavanbecker commented on #10
It is currently being worked on for support.

[2021-01-09 00:13] donavanbecker commented on #11
I will be closing this issues since latest version of the SwitchBot app has been released, I will be updating the readme with instructions on how to get token.

[2021-01-09 00:13] #11 closed

[2021-01-09 05:51] donavanbecker commented on #6
`v1.1.0` releases initial support for curtains. I will be working into improve this support overtime.

[2021-01-09 05:51] #6 closed

[2021-01-09 05:52] donavanbecker commented on #24
`v1.1.0` implements fixes for this.

[2021-01-09 05:52] #24 closed

[2021-01-09 06:31] donavanbecker commented on #25
@SebastiaanWiewel I have added the config `set_minStep`, this allows you to set the Steps in changes that are taken. So for instance, if I set this to 10 then you would have 11 steps you can set your curtains at, `0,10,20,30,40,50,60,70,80,90,100`.
This is implemented in the latest beta. Can you give me feedback?

[2021-01-09 06:32] donavanbecker commented on #10
Adding switch and press support, so will take a little bit.

[2021-01-10 03:00] KenExplore commented on #9
Looking forward to using air conditioner / light IR devices in HomeKit!

[2021-01-11 05:10] BeigeBox commented on #10
I see there's an entry in the Homebridge UI config for Bots (Press & Switch modes), but the changelog doesn't mention that the support was pushed, and I don't see the press mode bots showing up in accessories or homekit (even though the debug messages seem to read them and their device type correctly).  Support is still in development for the "Bot" devicetype right?

[2021-01-11 06:01] BeigeBox commented on #10
I see what the issue is.  There's a typo in the case statement which is preventing anything with a deviceType of "Bot" from being created.  I submitted a pull request with a fix.

[2021-01-11 06:11] donavanbecker commented on #10
`Bot` support has not been released yet. Hopefully can get some work in this week to release support. 1 device at a time.

[2021-01-11 06:22] thehilsnz opened #27 "SwitchBot Bot (Press) Support Please"
Thanks for developing this!

I have my curtains integrated, and am now just waiting on the Bot support (Press mode for starters) - hopefully this isn’t too far away.

Thanks again for the great work.

[2021-01-11 06:27] donavanbecker commented on #27
@thehilsnz Being implemented in #10

[2021-01-11 06:27] #27 closed

[2021-01-11 18:49] donavanbecker commented on #10
@BeigeBox, @MikeDeltaHH, @firebowl, I have implimented Bot Support in the latest beta.

FYI:
You have to device the device ID of your Bot in the Bot Settings of the Plugin for anything to work. If it is switch or if it is press
Press Mode - this will turn the outlet on for a second and then instantly turn it off.
Switch Mode - this will turn the outlet on and keep it on until it is turned off. (Th

[2021-01-11 18:54] idoshimoni commented on #10
Hi Guys
How do I install this latest beta please?

Thanks

On Mon, 11 Jan 2021 at 19:49 Donavan Becker <notifications@github.com>
wrote:

[2021-01-11 18:57] idoshimoni commented on #10
Yes,
ok found it in the UI.

Will update if I run into any issues with the bots.

Ido

On Mon, Jan 11, 2021 at 7:55 PM Donavan Becker <notifications@github.com>
wrote:

[2021-01-11 19:01] donavanbecker commented on #10
Make sure you set Press Or Switch Mode.

[2021-01-11 19:03] idoshimoni commented on #10
Where do I set this?

1/11/2021, 7:58:18 PM] [idoshimoni@gmail.com] Total Devices Found: 3

[1/11/2021, 7:58:18 PM] [idoshimoni@gmail.com] A SwitchBot Device has been
discovered with Device Type: Hub Plus, which is currently not supported.
Submit Feature Requests Here: https://git.io/JL14Z

[1/11/2021, 7:58:18 PM] [idoshimoni@gmail.com] Discovered Intercom Bot Bot

[1/11/2021, 7:58:18 PM] [idoshim

[2021-01-11 19:10] donavanbecker commented on #10
![image](https://user-images.githubusercontent.com/9875439/104227067-6e325600-540e-11eb-963e-daf57768099b.png)

[2021-01-11 19:18] MikeDeltaHH commented on #10
how can I install the beta over the existing version with Homebridge UI?

[2021-01-11 19:21] idoshimoni commented on #10
I've added both of my bots to the press list,
restarted homekit, still same error message...

Ido

On Mon, Jan 11, 2021 at 8:11 PM Donavan Becker <notifications@github.com>
wrote:

[2021-01-11 19:24] idoshimoni commented on #10
[image: Screen Shot 2021-01-11 at 20.22.02.png]

On Mon, Jan 11, 2021 at 8:18 PM MikeDeltaHH <notifications@github.com>
wrote:

[2021-01-11 19:27] BeigeBox commented on #10
I’m also stuck here. I don’t see any option in the settings to opt into the beta branch. I assume there’s some option if the home bridge UI that I’m not familiar with.

[2021-01-11 19:31] BeigeBox commented on #10
Found it!  In the Homebridge UI go to the Plugins page. On the Himebridge SwitchBot OpenAPI plug-in click the clock icon that has the hint “Install Previous Version”. From that modal, click the drop down and select the beta.

[2021-01-11 19:32] idoshimoni commented on #10
This is how I configured my 2 press bots, still getting an error:

[1/11/2021, 8:28:40 PM] [idoshimoni@gmail.com]
{"statusCode":100,"body":{"deviceList":[{"deviceId":"D089A918E2B8","deviceName":"Living
Room Hub Plus","deviceType":"Hub
Plus","hubDeviceId":"000000000000"},{"deviceId":"D5109803D561","deviceName":"Intercom
Bot","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"D089A918E2B8"}

[2021-01-11 19:35] BeigeBox commented on #10
I managed to get the beta installed and I’m seeing the same issue as idoshimoni

[2021-01-11 19:36] donavanbecker commented on #10
@BeigeBox and @idoshimoni have you set all of our bots, you must add all bots to that config, either have them in Press or Switch

I will remove the error from logging.

[2021-01-11 19:42] donavanbecker commented on #10
yes you can.

[2021-01-11 19:44] BeigeBox commented on #10
Yes I have 2 Bots. They are both in press mode. I have added their device IDs in the homebridge plugin settings under Advanced Settings -> Bot Settings. I clicked “ADD PRESS MIDE BITS” and entered their device IDs in the fields which appeared. I made sure to Save and restart too.

[2021-01-11 19:45] idoshimoni commented on #10
I have 3 devices in total, 2 press bots and hub.
I 've added both bots, and just upgraded to v3:

[1/11/2021, 8:43:11 PM] [idoshimoni@gmail.com]
{"statusCode":100,"body":{"deviceList":[{"deviceId":"D089A918E2B8","deviceName":"Living
Room Hub Plus","deviceType":"Hub
Plus","hubDeviceId":"000000000000"},{"deviceId":"D5109803D561","deviceName":"Intercom
Bot","deviceType":"Bot","enableCloudService":tru

[2021-01-11 19:47] MikeDeltaHH commented on #10
My homebridge crashed after update to the beta with the following errors:

[1/11/2021, 8:36:24 PM] ERR_SERVER_CLOSED: Cannot send packets on a closed mdns server!
    at MDNSServer.assertBeforeSend (/usr/local/lib/node_modules/homebridge/node_modules/@homebridge/ciao/src/MDNSServer.ts:403:13)
    at MDNSServer.sendOnAllNetworksForService (/usr/local/lib/node_modules/homebridge/node_modules/@homebr

[2021-01-11 19:49] idoshimoni commented on #10
After upgrading to v3,
I can now see my bots in homekit, although there are still errors in the
log file.

Testing further.

On Mon, Jan 11, 2021 at 8:47 PM MikeDeltaHH <notifications@github.com>
wrote:

[2021-01-11 19:50] donavanbecker commented on #10
Can you create a New issue with more info so i can look into this?

[2021-01-11 19:50] MikeDeltaHH commented on #10
Yes, i do!

[2021-01-11 19:52] donavanbecker commented on #10
yeah beta: v1.1.1-beta.4 should fix those errors

[2021-01-11 19:52] idoshimoni commented on #10
I can see my 2 bots in homekit, however when pressing them nothing
happens...

On Mon, 11 Jan 2021 at 20:49 Ido Shimoni <idoshimoni@gmail.com> wrote:

[2021-01-11 19:55] donavanbecker commented on #10
do you have any logs? because I just tested it on 3 press bots and a switch bot and all received commands.

[2021-01-11 19:56] BeigeBox commented on #10
On beta 4, when trying to activate a press bit I see “Cannot read property ‘includes’ of undefined”

[2021-01-11 19:57] donavanbecker commented on #10
can you create a new issue with logs and config?

[2021-01-11 19:58] idoshimoni commented on #10
Let me know which logs you need and from where...

thanks.

[1/11/2021, 8:43:11 PM] [idoshimoni@gmail.com]
{"statusCode":100,"body":{"deviceList":[{"deviceId":"D089A918E2B8","deviceName":"Living
Room Hub Plus","deviceType":"Hub
Plus","hubDeviceId":"000000000000"},{"deviceId":"D5109803D561","deviceName":"Intercom
Bot","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"D089A918E2B8"},{"devi

[2021-01-11 20:06] MikeDeltaHH opened #29 "SwitchBot Bot Beta Causes Homebridge Crash"
After updating the plugin to the 1.1.1 beta 4 my homebridge crashed

Update 1.1.0 to 1.1.1 beta 4

**Homebridge Config:**

my config.json:

[config.json.txt](https://github.com/OpenWonderLabs/homebridge-switchbot-openapi/files/5798076/config.json.txt)

Logs:

[homebridge.log.txt](https://github.com/OpenWonderLabs/homebridge-switchbot-openapi/files/5798049/homebridge.log.txt)

**Device Model:**

ES

[2021-01-11 20:09] donavanbecker commented on #10
please create a new issue on GitHub so that I can get more details about your setup.

[2021-01-11 20:12] donavanbecker commented on #29
@MikeDeltaHH from what I can tell your config:
[code]
doesn't have the bot settings configured. you must set those in the plugin settings. let me know if that doesn't help or you need help finding those settings.

[2021-01-11 20:24] MikeDeltaHH commented on #29
gnaaaaa... my fault!

[2021-01-11 20:24] #29 closed

[2021-01-11 20:34] MikeDeltaHH commented on #10
With beta 4 all my bots are now shown in homebridge and i do some tests:

Press mode: The bot will shown as "on" when i press the button in homebridge but nothing happens, the bot will not do anything and the status doesn´t change from "on" to "off" after a second in homebridge

Switch mode: The bot will shown as "on" when i press the button in homebridge and the bot works - the status doesn´t cha

[2021-01-11 20:42] donavanbecker commented on #10
@MikeDeltaHH when you say homebridge are you talking about homebridge UI? or the Home app?

[2021-01-11 20:46] BeigeBox opened #30 "SwitchBot Bot - "Cannot read property 'includes' of undefined""
**Describe The Bug:**

When using 1.2.0 Beta 4 I encounter the following error when trying to activate a 'press' mode Bot.
ERROR: Couldn't connect to Docker daemon at http+docker://localhost - is it running?

**To Reproduce:**

1. Install 1.2.0 Beta 4. In the plugin settings add the device ID of all Bots, making sure that the bots are in 'press' mode, and that they are added to the section created

[2021-01-11 20:51] MikeDeltaHH commented on #10
Found an error in my config - the press mode will also work now (in homebridge and the appel home app)! GREAT!

The press mode will do two bot actions, one for "on" and when the switch jump to "off" in homebridge the bot do another action! Is it possible to limit it to ONE action to power on a device with the bot - the second action will do a power off after a second, not so good...

[2021-01-11 20:56] donavanbecker commented on #30
@BeigeBox I think I know what the issue is. can you try the new beta? v1.1.1-beta.5

[2021-01-11 21:07] MikeDeltaHH commented on #10
@donavanbecker The only problem i found that more then 2 bots in the press mode section doesn´t work - with one or two bots the bot will do an action and will shown as "on" and a second later as "off" - oerfect! But with 3 bots in the press section the bot do nothing and will shown as "on" permanently!

[2021-01-11 21:09] BeigeBox commented on #30
The Beta v5 resolved the issue.

[2021-01-11 21:09] #30 closed

[2021-01-11 21:14] donavanbecker commented on #10
this must be a specific use case... because I haven't had any issues, and I am testing this on 4 bots right in front of me. 3 on press and one on switch.

[2021-01-11 21:15] donavanbecker commented on #10
@idoshimoni, Beta: `v1.1.1-beta.5` should fix this `includes` issue. @BeigeBox has confirmed.

[2021-01-11 21:19] idoshimoni commented on #10
Indeed, confirmed and working!

Thanks so much!

On Mon, Jan 11, 2021 at 10:16 PM Donavan Becker <notifications@github.com>
wrote:

[2021-01-11 21:25] MikeDeltaHH commented on #10
With beta 4 more then 2 bots in the press mode section doesn´t work with the following error:
1/11/2021, 10:16:03 PM] [SwitchBot] "Cannot read property 'includes' of undefined"

but with beta 5 this error is gone! :)

[2021-01-11 21:28] donavanbecker commented on #10
so we are all good? everything is working as expected?

[2021-01-11 21:29] MikeDeltaHH commented on #10
YYes, looks great!

[2021-01-11 21:30] idoshimoni commented on #10
Same for me

On Mon, 11 Jan 2021 at 22:29 MikeDeltaHH <notifications@github.com> wrote:

[2021-01-11 21:54] donavanbecker commented on #10
Seems like its working for everyone, so I have release `v1.2.0`

If you have any feature requests or if you have any other issues, please open a new issue and give as much details as you can.

Thanks for Testing!!!

[2021-01-11 21:54] #10 closed

[2021-01-11 22:08] stich86 opened #32 "Battery status"
**Is your feature request related to a problem? Please describe.**

Add the battery status to check it from HK

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-01-12 02:13] github9984 commented on #10
how do you get the DeviceID?

[2021-01-12 02:22] SwitchBot-Wonderlabs commented on #10
@github9984 DeviceID is mac addreess. Click the three dots in the upper right corner of the Bot setting interface in the app.

[2021-01-12 02:39] donavanbecker commented on #10
Also the homebridge logs will display your Device ID.

[2021-01-12 22:39] Kohle81 opened #35 "Config.json for manual installation"
Hello,

I don‘t use homebridge-config-ui.

can you please document a sample config?

[2021-01-12 22:39] #35 closed

[2021-01-12 23:02] donavanbecker commented on #35
@Kohle81, I would highly recommend that you do, since it make setting config's up way easier and also shows you if the config has errors or not.

Here is a sample config though:

[code]

[2021-01-12 23:02] Kohle81 opened #36 "Config documentation for manual installation"
**Describe Your Problem:**

Hello,

I don‘t use config-ui for homebridge.

I want to install your plugin manual.

Can you please document a sample config.json?

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

**Device Model:**

# **Environment:**

- **Node.js Version**:
- **NPM Version**:
- **Homebridge Version**:
- **Homebridge SwitchBot Plugin Version**:
- **Homebridge Confi

[2021-01-12 23:03] donavanbecker commented on #36
@Kohle81, I would highly recommend that you do, since it make setting config's up way easier and also shows you if the config has errors or not.

Here is a sample config though:

[code]

[2021-01-12 23:04] donavanbecker commented on #36
For Install:
[code]

[2021-01-12 23:04] #36 closed

[2021-01-13 04:23] donavanbecker commented on #9
@KenExplore I have added logging for the hubs to the plugin now. I could potentially add air conditioners and light ir devices to HomeKit, but I will need you to get me some info.

First you will need to enable device discovery in the plugin settings on Homebridge UI, Then you will need to get the logs that come from this. It will be yellow and will look like this:
[code]
Once you have this, open

[2021-01-13 04:40] donavanbecker commented on #9
with `v1.2.3`, I have added support for logging of IR Devices. So I will be closing this issue, any new ir devices that people would like added can be added through a feature request.

[2021-01-13 04:40] #9 closed

[2021-01-13 07:43] pulkitjalan opened #40 "Switchbot Hub Mini IR TV Support"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Support for TV via IR on Hub mini.

**Describe alternatives you've considered**

Displayed as TV in Homekit

**Additional context**

[code]

[2021-01-13 14:15] donavanbecker commented on #40
@pulkitjalan, I will work on implementing this. Might take a little since I haven't implemented a TV before and with IR devices only being a 1 way thing, will also make it a little more fun.

Once I get a good working product. can you beta test it for me?

[2021-01-13 14:18] pulkitjalan commented on #40
Sure, happy to test it out. Thanks for the great work!

--
Pulkit Jalan
pulkit1990@gmail.com
On 13 Jan 2021, 14:16 +0000, Donavan Becker <notifications@github.com>, wrote:

[2021-01-13 14:41] virtualxdriver opened #42 "Multiple Bots refreshing causing 401 Unauthorized"
**Describe The Bug:**

Since a few hours ago, all API calls are failing with 401 Unauthorized.
I tried to reset my token but calls still fail with the new one.

**To Reproduce:**

Try to toggle a bot via Homebridge. The call fails but the bot’s status still changes in the app.

**Expected behavior:**

The call should go through. If it fails, the button in HomeKit should clearly display that an err

[2021-01-13 14:49] virtualxdriver opened #43 "Error handling"
**Is your feature request related to a problem? Please describe.**

See #42. API calls are suddenly failing with a 401 Unauthorized error, but switches in HomeKit seem to behave correctly.

**Describe the solution you'd like**

When a call to the API fails, the exception should surface to HomeKit and the button display an error sign to alert the user.

**Describe alternatives you've considered**

[2021-01-13 14:54] donavanbecker commented on #42
@virtualxdriver If you would have filled in all info requested with this template it would have never closed this automatically.

[2021-01-13 14:57] donavanbecker commented on #43
@virtualxdriver I need more info about your setup, how your config is setup, etc.

[2021-01-13 15:04] virtualxdriver commented on #42
Pretty standard configuration with 6 bots on the same account. Everything was working fine until a few hours ago.
I suspect the issue is more a temporary blip on the SwitchBot side so please feel free to close this.

However, I do believe #43 is valid: errors should be handled so the user can notice something is wrong.
I only noticed something was wrong when I came home to a cold apartment because

[2021-01-13 15:43] donavanbecker commented on #42
if you can post your config, it will give me a better idea. usually 401 is to many request.

[2021-01-13 15:50] virtualxdriver commented on #42
Sure, here you are:
[code]

Thanks for the great plugin! 👍

[2021-01-13 16:42] donavanbecker commented on #42
@virtualxdriver since you don't have it set in the config. can you set your `refreshRate`? I would set it to like `400` and see if that helps. the more devices you have the more it talks to the api, which is why you are getting a 401 error.

Once you set your `refreshRate` you will have to wait till the api pans out and allows you to connect again.

See API [Request Limit](https://github.com/OpenW

[2021-01-13 17:07] tjridge opened #44 "Add IR devices connected to hubs"
Please add support for IR devices connected to hub/hub mini.

[2021-01-13 17:08] #44 closed

[2021-01-13 17:09] donavanbecker commented on #44
@tjridge please update to latest version of the plugin, and then enable `devicediscovery` in advance settings and post that info in a feature request issue.

[2021-01-13 19:27] whatUwant commented on #40
I started a few days ago with speaker remote but the accessory is not recognized as speaker in the Home app.
Oddly the very same accessory is correctly recognized by [Controller](https://apps.apple.com/us/app/controller-for-homekit/id1198176727).

<img src="https://user-images.githubusercontent.com/2762992/104499612-07679500-55e6-11eb-87c0-862cbce158ca.JPG" width="50%" /><img src="https://user-ima

[2021-01-13 20:55] donavanbecker commented on #40
@pulkitjalan, work in progress!! I have the tv being found by the plugin and registering as an external TV. If you would like to try it out? you can, you won't be able to do anything with it yet, but it will display the TV.

This will display the TV as an extern accessory, so you will have to click the `+` to add accessories and then you will see your TV.

If you try it let me know, and also let m

[2021-01-13 20:55] donavanbecker commented on #40
nice, PRs are always welcome!!!

[2021-01-13 21:57] pulkitjalan commented on #40
Awesome @donavanbecker, yup exactly as you said. Added it manually into the Home app, enter the code and it shows up.

<img width="496" alt="switchbot_tv" src="https://user-images.githubusercontent.com/4124930/104514635-7abed600-55e9-11eb-8102-8774382b4e4c.png">

I also have these 2 showing in Homebridge, is that expected?

<img width="358" alt="Screenshot 2021-01-13 at 21 56 18" src="https://user

[2021-01-13 22:13] donavanbecker commented on #40
@pulkitjalan Yes that will be for volume control.

[2021-01-13 22:15] pulkitjalan commented on #40
Cool, looks great! Thanks!

--
Pulkit Jalan
pulkit1990@gmail.com
On 13 Jan 2021, 22:14 +0000, Donavan Becker <notifications@github.com>, wrote:

[2021-01-13 22:58] virtualxdriver commented on #42
OK, I’ve set it to 600 for now and will report.

What’s even the point of polling the API at all for bots? I can understand for a Meter, but Bots don’t report status so it feels unnecessary.

[2021-01-13 23:01] FishyD opened #47 "Home App showing both curtain bots that are grouped/paired together in the SwitchBot App"
I have 2 SwitchBot Curtains paired together in the SwitchBot App as left and right sides. However, when adding them to the Home app via this plug-in, both appear in the home app and the Homebridge Accessories part of the Homebridge UI. One is the "grouped" curtains and this one operates both sides as desired. The other curtain is the right side and is non-responsive. I think this can be hidden som

[2021-01-13 23:02] #47 closed

[2021-01-13 23:11] FishyD opened #48 "Automatically hide secondary Curtain on grouped SwitchBot Curtains"
**Describe The Bug:**

I have 2 SwitchBot Curtains paired together in the SwitchBot App as left and right sides. However, when adding them to the Home app via this plug-in, both appear in the home app and the Homebridge Accessories part of the Homebridge UI. One is the "grouped" curtains and this one operates both sides as desired. The other curtain is the right side and is non-responsive.

**To R

[2021-01-14 01:03] donavanbecker commented on #48
@FishyD, yeah currently the API shows if they are grouped or not, but if I push a change to the API, it doesn't psh the change to both.

I will submit a feature request with SwitchBot to see if something can change with this. Currently my curtains are ungrouped because of this reason.

[2021-01-14 01:05] donavanbecker commented on #42
yeah you have a good point, only reason I was doing it for bots was to make sure they they were still connected with the status, but not even sure if that shows the status of the bot or just the API connection. I will remove it in the next update!

[2021-01-14 01:17] FishyD commented on #48
@donavanbecker Makes sense, thank you. For now, I used the plug-in’s advanced setting for hide device by device id. I hid the extra curtain and nothing seems to have broken. Seems like a good workaround for now.

[2021-01-14 01:49] donavanbecker commented on #48
Are commands working as expected? Like if you close the main curtain, it closes the group?

[2021-01-14 03:04] FishyD commented on #48
@donavanbecker Yes, both bots open and close in sync even with the right bot hidden. In the SwitchBot app, when you make a group originally, it appears to make the first curtain bot (in my case left) the master and then kind of hides the second (in my case right) during the grouping process.

The plugin appears to be showing both the "master" left bot which is essentially controlling both, and the

[2021-01-14 06:04] jonpeng commented on #48
I did the same thing by hiding the device IDs in the plugin advanced setting. Homekit accessories look good and work good. No issues.

[2021-01-14 06:55] donavanbecker commented on #48
@FishyD and @jonpeng I think this is going to have to be our solution until an API change happens. I am going to leave this Issue open until then.

[2021-01-14 07:00] donavanbecker commented on #40
Ok @pulkitjalan, I got pretty far.
- I have the volume control working in control center so if you go into control center and click the remote, you should see your TV you won't be able to use any of the buttons on the remote but of you move your volume up and down on your phone that should control your TV.
- Also I have On and Off, some what work. This is hard since with IR the power signal could

[2021-01-14 07:01] donavanbecker commented on #42
@virtualxdriver I have removed the status of the Bots, from being pulled, in the latest Beta. So this should not cause issues with the refreshRate.

So if you could try the latest beta and give me feedback let me know.
Beta: v1.2.5-beta.2

[2021-01-14 08:10] pulkitjalan commented on #40
On and Off works great, I can now see and control it from the home app as expected!

I tried the volume controls via the remote app and it kinda works. I had some inconsistent results, the volume would increase with the first press then decrease with the next press (pressing the same volume up button). It was the same with volume down. I tried again after turning the tv off and back on, and this t

[2021-01-14 08:32] pulkitjalan commented on #40
Logs:

[code]

[2021-01-14 08:34] virtualxdriver commented on #42
Thanks! I have just installed the new beta and reset the refresh rate setting. Will let you know how it goes!

[2021-01-14 09:07] virtualxdriver commented on #42
With the 1.2.5 beta, I noticed that bots set up in press mode do not automatically reset back to off when pressed. Could it be a regression introduced by the change?

[2021-01-14 12:41] donavanbecker commented on #42
Yeah I notice that right before going to bed. I will work on getting that fixed! Should be a big issue since on or off will cause the bot to press, but I like that it just turns it off right away.

[2021-01-14 16:58] jonpeng opened #49 "Duplicated Devices when Connecting to Different Hub"
A duplicated (Office curtain) curtain popped out in Home app with exactly same info (same device ID too). This is a single Bot curtain. The curtain is current not controllable in Homekit.

This curtain bot was installed a couple of days ago. I changed all my curtain icons to the split style. All the sudden I found out a default curtain icon showed this morning. And noticed the specific curtain sta

[2021-01-14 17:07] donavanbecker commented on #49
@jonpeng do you have Homebridge UI installed?

[2021-01-14 17:14] jonpeng commented on #49
I tried disable the hide device in the advanced settings. No changes.

[2021-01-14 17:28] jonpeng commented on #49
I recalled I switched the cloud service from hub mini C2 to hub mini C1 for this bot due to the connection issues. That should be the cause of this problem. I will do some test and remove the cached duplicated device.

[2021-01-14 18:09] jonpeng commented on #49
Problem fixed. I switched back to the original SwitchBot hub C2, and moved the hub closer the to the curtain bot. The original Homekit curtain accessory backed to work. And then I manually delete the cached new curtain accessory. We have to keep in mind. The plugin recognizes SwitchBot hub, but not the bots directly. Whenever a hub is replaced, the bots connect to the hub will need to be reset, an

[2021-01-14 18:13] donavanbecker commented on #49
Makes sense!

[2021-01-14 18:13] donavanbecker commented on #42
Okay I have corrected this!

So if you could try the latest beta and give me feedback let me know.
Beta: v1.2.5-beta.3

[2021-01-14 19:24] donavanbecker commented on #49
After reviewing this, I believe this is due to how I create the unique id (`uuid`): With this being a big change and effecting everyone when I make this change, All SwitchBot plugin users will have to clear cache.

This will be released with `v2.0.0`, which I hope to have out soon so that this doesn't effect new users.

[2021-01-14 20:22] Kohle81 commented on #40
Hello @donavanbecker

You are doing great work! Thank you first at all........

Yesterday I added the config manually and the Bots are working!

Now I installed the plugin sudo npm install -g --unsafe-perm homebridge-switchbot-openapi@1.2.5-beta.2 and started my Homebridge with this logs:

`Jan 14 21:04:53 raspberrypi homebridge[7876]: [14/01/2021, 21:04:53] [SwitchBot] {"statusCode":100,"body":{"

[2021-01-14 21:13] donavanbecker commented on #40
@Kohle81, I am releasing v2.0.0 right now. so just update to that and you should be good.

[2021-01-14 21:14] donavanbecker commented on #40
@pulkitjalan I have fixed the issues and will be releasing v2.0.0 right now. pay attention to the ChangeLog!!!

[2021-01-14 21:20] Kohle81 commented on #40
Thanks for this and for fast answer.

Greetings from Germany

[2021-01-14 21:37] #40 closed

[2021-01-14 21:37] #42 closed

[2021-01-14 21:37] #49 closed

[2021-01-14 22:08] Kohle81 commented on #40
Hi, I‘m on version 2.0.0 now an I am getting this log:

Jan 14 23:05:22 raspberrypi homebridge[13767]: [14/01/2021, 23:05:22] [SwitchBot] {"deviceId":"02-202009290754-73988876","deviceName":"Haier TV","remoteType":"DIY TV","hubDeviceId":"FD6A96EC2808"}
Jan 14 23:05:22 raspberrypi homebridge[13767]: [14/01/2021, 23:05:22] [SwitchBot] Device: Haier TV with Device Type: DIY TV, is currently not suppo

[2021-01-14 22:14] donavanbecker commented on #40
can you take a screenshot of your switchbot app? because it is self learned I might have to add another device type for TV, right now my device type is showing up as `TV`, and yours is showing up as DIY TV.

@Kohle81, Please fill out a feature request, like it says in the logs and we can work on this.

[2021-01-14 22:24] Kohle81 opened #51 "Support for IR DIY TV device"
**Is your feature request related to a problem? Please describe.**
No problem, the device would not

I want to create a self learnd device for TV
**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

<a><img src="https://user-images.githubusercontent.com/33038709/104656427-91376100-56bf-11eb-9cf3-0de503aa6713.png" width="250px"></a><a><img src="

[2021-01-14 22:25] Kohle81 commented on #40
Thanks, I have created a feature request. I hope I‘m doing right

[2021-01-14 22:28] donavanbecker commented on #51
@Kohle81 I have release a new beta, can you try it and let me know if it works?

Beta: `v2.0.1-beta.0`

[2021-01-14 22:32] Kohle81 commented on #51
I am on beta, but same log. No device for TV is created.

Jan 14 23:29:53 raspberrypi homebridge[14716]: [14/01/2021, 23:29:53] [SwitchBot] {"statusCode":100,"body":{"deviceList":[{"deviceId":"C42F040FCCD2","deviceName":"Bett Nicki hoch","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"FD6A96EC2808"},{"deviceId":"C9A1CF72C9FC","deviceName":"Bett Manu runter","deviceType":"Bot","enableCl

[2021-01-14 22:33] donavanbecker commented on #51
@Kohle81 can you turn on device discovery? and post all the yellow logs?

[2021-01-14 22:36] Kohle81 commented on #51
Device discovery is true

here my config:

{
		"platform": "SwitchBot",
		"name": "SwitchBot",
		"credentials": {
			"openToken": "xxxxxxxxyyyyyyyxxxxxx",
			"notice": "Keep your token a secret!"
		},
		"options": {
			"refreshRate": 120,
			"bot": {
				"device_press": [
					"C42F040FCCD2",
					"C9A1CF72C9FC",
					"CBA415F0A044",
					"FD6A96EC2808"
				]
			}
		},
		"devicediscovery": true
	}

[2021-01-14 22:37] Kohle81 commented on #51
I don‘t have yellow logs. I am not on config-ui...... or what do you mean?

[2021-01-14 22:39] Kohle81 commented on #51
Jan 14 23:38:07 raspberrypi homebridge[15106]: [14/01/2021, 23:38:07] [SwitchBot] {"deviceId":"02-202009290754-73988876","deviceName":"Haier TV","remoteType":"DIY TV","hubDeviceId":"FD6A96EC2808"}
Jan 14 23:38:07 raspberrypi homebridge[15106]: [14/01/2021, 23:38:07] [SwitchBot] Device: Haier TV with Device Type: DIY TV, is currently not supported. Submit Feature Requests Here: https://git.io/JL14Z

[2021-01-14 22:47] donavanbecker commented on #51
I would recommend getting it, make things way easier.

You should see a log right after the QR code that starts with this: `{"statusCode":100,"body":{"deviceList":[{`
towards the end you will see `}],"infraredRemoteList":[{` and at the ends you will see `}]},"message":"success"}`

It should be pretty big with the devices you have.

[2021-01-14 22:56] Kohle81 commented on #51
I had a look in the syslog and found this:

infraredRemoteList":[{"deviceId":"02-202009290754-73988876","deviceName":"Haier TV","remoteType":"DIY TV","hubDeviceId":"FD6A96EC2808"}]},"message":"success"}

[2021-01-14 22:59] Kohle81 commented on #51
Jan 14 23:56:36 raspberrypi homebridge[16103]: [14/01/2021, 23:56:36] [SwitchBot] {"statusCode":100,"body":{"deviceList":[{"deviceId":"C42F040FCCD2","deviceName":"Bett Nicki hoch","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"FD6A96EC2808"},{"deviceId":"C9A1CF72C9FC","deviceName":"Bett Manu runter","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"FD6A96EC2808"},{"deviceId"

[2021-01-15 04:07] willliamchan commented on #49
I am having the duplicate device issue, may I know how to clear the cache?

[2021-01-15 04:25] donavanbecker commented on #49
Did you update to 2.0.0? Also do you have Homebridge UI?

[2021-01-15 04:27] donavanbecker commented on #51
@Kohle81 what buttons did you manually set in the SwitchBot app when you setup your TV? Could you try setting it up? And just pick Heier and just click correct and save. And then correct the Ir learning after you save?

[2021-01-15 04:38] donavanbecker commented on #51
@Kohle81 Yeah try setting up with the brand Heier. And if one of the pre set irs work with that perfect, if not click correct and save anyways and then you can update Later. This should make the tv show up as a TV and not DIY TV, I will try to get DIY TV working in the mean time.

[2021-01-15 04:42] donavanbecker commented on #40
@pulkitjalan How is v2.0.0 working?

[2021-01-15 04:48] willliamchan commented on #49
Unfortunately I am one of the HOOBS user.

Regards
William
________________________________
From: Donavan Becker <notifications@github.com>
Sent: Friday, January 15, 2021 12:25:58 PM
To: OpenWonderLabs/homebridge-switchbot-openapi <homebridge-switchbot-openapi@noreply.github.com>
Cc: willliamchan <willliam@live.com>; Comment <comment@noreply.github.com>
Subject: Re: [OpenWonderLabs/homebridge-swit

[2021-01-15 05:35] donavanbecker commented on #49
Then you would have to reach out to hoobs, I don't use hoobs. Or move over to homebridge and the Homebridge UI makes it really easy.

[2021-01-15 05:38] donavanbecker commented on #49
@willliamchan

[Migrate-From-HOOBS-To-Homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge)

[2021-01-15 05:40] willliamchan commented on #49
Thank you!

Will there be any chance the plug-in support air-conditioner too?

Regards
William
________________________________
From: Donavan Becker <notifications@github.com>
Sent: Friday, January 15, 2021 1:38:21 PM
To: OpenWonderLabs/homebridge-switchbot-openapi <homebridge-switchbot-openapi@noreply.github.com>
Cc: willliamchan <willliam@live.com>; Mention <mention@noreply.github.com>
Subject:

[2021-01-15 06:20] Kohle81 commented on #51
Hi,
if I create a „Heier TV“ , Plugin is discovering this device.

Jan 15 07:17:49 raspberrypi homebridge[29786]: [15/01/2021, 07:17:49] [SwitchBot] {"statusCode":100,"body":{"deviceList":[{"deviceId":"C42F040FCCD2","deviceName":"Bett Nicki hoch","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"FD6A96EC2808"},{"deviceId":"C9A1CF72C9FC","deviceName":"Bett Manu runter","deviceType":"Bot",

[2021-01-15 06:22] Kohle81 commented on #51
Update:

I closed the Home App and opened again, now it works!

![CE728162-09FD-492D-B5D3-DEE265860EAB](https://user-images.githubusercontent.com/33038709/104689191-61f61380-5702-11eb-8e17-196195d7e0b2.png)

[2021-01-15 06:25] pulkitjalan commented on #40
Just upgraded to v2.0.0 @donavanbecker, and it works perfectly now, thanks a lot for all your work on this!!

[2021-01-15 06:34] Kohle81 commented on #51
For DIY TV HAIER I added these buttons manually like on this picture.

![Uploading 25750216-6E7D-4B4C-8C60-8312B148D9BA.png…]()

[2021-01-15 06:45] Kohle81 commented on #51
There is a problem in the switch bot hub mini. If I want learn new IR Signal to the native TV „HEIER“ it doesn‘t work to override the IR Code.....

I will waiting until the DIY is working. No problem for me, you are doing great work with this 👍

[2021-01-15 09:34] MikeDeltaHH opened #53 "Switch Bot switches without trigger"
**Describe Your Problem:**

I have a strange problem here with a bot operating my coffee machine - I have had a few now that the bot just turned the machine on, in the Homebridge log I see this too.

10:00:01 AM] [SwitchBot] Sending request for Kaffeemaschine Bot to SwitchBot API. command: press parameter: default commandType: command

Only there is no automation or any manual request for this, th

[2021-01-15 12:56] donavanbecker commented on #40
Awesome! Sorry about the clearing of cache. I had to do it earlier then later, or more people would have a big issue.

[2021-01-15 14:09] donavanbecker commented on #49
@willliamchan if you can turn on `device discovery` for me in the advance settings and post those logs into a feature request. I can potentially support it. I don't have one so I would need to get logs from someone else to be able to implement it.

[2021-01-15 14:12] donavanbecker commented on #51
Okay! I was able to create a DIY TV in SwitchBot App. So I would be able to figure this out.

[2021-01-15 16:14] donavanbecker commented on #51
@Kohle81 can you try again? I just tried this morning? and I am able to see DIY TV and add it.
![IMG_1651](https://user-images.githubusercontent.com/9875439/104751078-80680900-571a-11eb-8269-4d9153b4934d.jpg)

[2021-01-15 16:54] Kohle81 commented on #51
Hi,

ok I will try it. Is there a new beta or have I to install the old one version?

[2021-01-15 17:22] donavanbecker commented on #51
@Kohle81 install the latest beta

[2021-01-15 17:44] Kohle81 commented on #51
I am on homebridge-switchbot-openapi@2.0.1-beta.0 and the DIY doesn‘t work.

01/2021, 18:42:57] [SwitchBot] {"statusCode":100,"body":{"deviceList":[{"deviceId":"C42F040FCCD2","deviceName":"Bett Nicki hoch","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"FD6A96EC2808"},{"deviceId":"C9A1CF72C9FC","deviceName":"Bett Manu runter","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"

[2021-01-15 19:15] VeniceNerd commented on #48
I have the same issue! Do you know how I can figure out the ID of my “phantom” bot? It seems hidden in the app now.

I would like to hide it.

[2021-01-15 19:17] donavanbecker commented on #51
@Kohle81 what version of node, npm, homebridge, and homebridge-switchbot-openapi are you on?

[2021-01-15 19:25] Kohle81 commented on #51
I am on node@14.15.5
Npm@6.14.10
homebridge@1.1.7

Or how should I install the last beta?

[2021-01-15 19:33] Kohle81 commented on #51
I have installed homebridge-switchbot-openapi@2.0.1-beta.0

[2021-01-15 20:15] pulkitjalan commented on #40
@donavanbecker I seem to having a weird issue, not sure if its a bug or expected. I didnt have this in the morning when I first tested it.

[code]

From the above logs, when sending repeat `turn on` commands, it prints a 1 but not actually sending the command, however for `turn off` it seems to be working as before.

[2021-01-15 20:27] FishyD commented on #48
I found it in the log, back when I originally added the plug-in to my HomeBridge. Perhaps there is another way?

[2021-01-15 20:44] Kohle81 commented on #51
Ok, I installed 2.0.1-beta.2 an now TV DIY works! Power On/ Off an Volume +\- works, these two options I could test.

Here my log, if you would have a look on it.

01/2021, 21:40:21] [SwitchBot] {"statusCode":100,"body":{"deviceList":[{"deviceId":"C42F040FCCD2","deviceName":"Bett Nicki hoch","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"FD6A96EC2808"},{"deviceId":"C9A1CF72C9FC","devi

[2021-01-15 20:46] Kohle81 commented on #51
Is this log a problem?

[SwitchBot] deviceStatus - Haier TV "wrong deviceId"
Jan 15 21:40:27 raspberrypi homebridge[25378]: [15/01/2021, 21:40:27] [SwitchBot] Unable to retreive device status

[2021-01-15 22:54] donavanbecker commented on #51
nope that just happens when you have devicediscovery enabled. Try turning it off and try again.

[2021-01-15 22:57] donavanbecker commented on #40
@pulkitjalan let me test a little bit. I think that was left behind logging for testing. I have it set so that if it is on, that it doesn't send another on because if I did then it would turn off because of how the ir power button works.

[2021-01-15 22:59] donavanbecker commented on #48
@VeniceNerd are you talking about your curtain? or your bot?

Every device that is found will print the device id in the log.

Example:
[code]

[2021-01-15 23:01] donavanbecker commented on #48
you can look for your Mac address in the SwitchBot app and take out the `:` (colons)

[2021-01-16 07:44] Kohle81 commented on #51
When I do „discovery false“  the DIY TV isnt‘t discovered and don‘t work in Homekit.

Or have I write the TV in config?

does this entry have to look like?

[2021-01-16 08:41] thehilsnz commented on #43
FYI I’ve started seeing the same issue today as well - after adding the bots in - I have 2 curtain groups (4 curtain devices - of which I’ve now hidden the 2 slaves), and 3 bots (as well as 2 hubs and a sensor which aren’t technically in the HomeKit config). I’ve set the refresh rate to 800, but  guessing I have to wait until tomorrow and my limit resets.

[2021-01-16 11:28] willliamchan opened #54 "Support for IR Projector"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[code]

[2021-01-16 11:31] willliamchan commented on #49
Hi Again

I had the device discovery switched on and guessing if you are looking for the below information, here is one of my aircon and a projector. I also followed your instruction and submitted the request in github.

Please advise by any chance if we can somehow add these devices by ourselves as I will feel so bad to ask you for each device.

[SwitchBot] {"deviceId":"02-202101151706-53910675",

[2021-01-16 11:39] donavanbecker commented on #49
You will have to submit each, since I have to implement each one. Don't feel bad that's is just how it is. Just know it might not get implemented right away.

These logs don't look like the device discovery logs though.

[2021-01-16 11:42] donavanbecker commented on #53
@MikeDeltaHH Not sure what to tell you. I can check my logs and see if this ever happens to me, but the plugin should never fire this off.

[2021-01-16 11:50] donavanbecker commented on #54
@willliamchan Thanks for the feature request. The logs you have provided are the device discovery logs that I am looking for. I will see if I can implement without. If not I will reach back out. This might take a little bit to implement.

[2021-01-16 11:52] willliamchan commented on #54
Many thanks!

Regards
William
________________________________
From: Donavan Becker <notifications@github.com>
Sent: Saturday, January 16, 2021 7:50:39 PM
To: OpenWonderLabs/homebridge-switchbot-openapi <homebridge-switchbot-openapi@noreply.github.com>
Cc: willliamchan <willliam@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [OpenWonderLabs/homebridge-switchbot-openapi] Panasonic Air

[2021-01-16 13:03] donavanbecker commented on #54
@willliamchan,

I have release a potential beta that will work with the projector. it will display as a TV. if you could try it?

[2021-01-16 13:06] willliamchan commented on #54
2.0.1.-beta.3 ?

Cheers
William
________________________________
From: Donavan Becker <notifications@github.com>
Sent: Saturday, January 16, 2021 9:03 PM
To: OpenWonderLabs/homebridge-switchbot-openapi <homebridge-switchbot-openapi@noreply.github.com>
Cc: willliamchan <willliam@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [OpenWonderLabs/homebridge-switchbot-openapi] Panasonic Airc

[2021-01-16 13:08] donavanbecker commented on #54
Yes!

[2021-01-16 13:20] willliamchan commented on #54
Mate it works!

I got a follow up question for this one. The projector switch on with one set of HEX code (one button), however when I wanna switch it off I will have to send the first HEX code (switch off), and it will pop up a MENU and ask "Yes" / "No", I will then need to send another HEX code (Enter) to confirm the action.

Is there any workaround or should I create a support ticket with Switc

[2021-01-16 14:04] pulkitjalan commented on #40
I see, any way to switch that functionality off? Since it gets out of sync sometimes, it was a good way to basically sync up the state again.

[2021-01-16 14:41] donavanbecker commented on #40
If I turn that off then we would be back to where we were before where if the tv is on and you try to control the tv from control center, then it will turn it off because it sends the on command before controlling anything in control center, since control center doesn't know if it is on or not.

[2021-01-16 14:43] donavanbecker opened #55 "Support for IR Air Conditioner"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[code]

[2021-01-16 14:45] donavanbecker commented on #55
@willliamchan,

I have opened this to keep track of the air conditioner request.

[2021-01-16 14:57] willliamchan commented on #55
Sure thing

Regards
William
________________________________
From: Donavan Becker <notifications@github.com>
Sent: Saturday, January 16, 2021 10:45:34 PM
To: OpenWonderLabs/homebridge-switchbot-openapi <homebridge-switchbot-openapi@noreply.github.com>
Cc: willliamchan <willliam@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [OpenWonderLabs/homebridge-switchbot-openapi] Support for IR

[2021-01-16 15:44] nyjklein opened #56 "[SwitchBot] Failed to Discover Devices. "Request failed with status code 401""
**Started getting status code 401 errors this morning**

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

**Device Model:**

# **Environment:**

- **Node.js Version | v14.15.4**:
- **Npm Version | v6.14.10**:
- **Homebridge v1.1.7**:
- **homebridge-switchbot-openapi v2.0.0**:
- **homebridge-config-ui-x v4.36.0**:
- **Raspbian**:

[2021-01-16 15:44] #56 closed

[2021-01-16 15:52] nyjklein opened #57 "401 Error Status Code"
Started getting status code 401 errors this morning

I tried opening this as a bug report, but it didn't like the format. I tried using the template.
Logs:

Started getting this every two minutes
[code]

Homebridge Config:
[code]

Screenshots:

Device Model:

Environment:
Node.js Version | v14.15.4:
Npm Version | v6.14.10:
Homebridge v1.1.7:
homebridge-switchbot-openapi v2.0.0:
homebridge-config-u

[2021-01-16 16:19] donavanbecker commented on #57
@nyjklein you changed to much to the issue template...

[2021-01-16 16:31] nyjklein commented on #57
I've attached my config here. Also, since the API doc shows 401 is an invalid token, I regenerated my token but I'm still getting this.

{
    "bridge": {
        "name": "Homebridge BFAB",
        "username": "***",
        "port": 51567,
        "pin": "***"
    },
    "accessories": [
        {
            "name": "Pseudo Hallway",
            "delay": 300000,
            "disableSensor": false

[2021-01-16 16:36] donavanbecker commented on #57
@nyjklein Your refreshRate is at `120` you will need to move that up. Either remove and let plugin set default or go higher and see if your devices can handle it.

Pulling to many requests.

[2021-01-16 16:38] nyjklein commented on #57
BTW, I did set "devicediscovery" to true. But it didn't generate any additional log entries.

I changed refreshrate from the default yesterday and everything was fine until this morning. I'll set it back and see what happens.

[2021-01-16 16:38] donavanbecker commented on #57
@nyjklein Once you set this, you will have to wait for the API to allow you to reconnect to it.

[2021-01-16 16:45] nyjklein commented on #57
Back to the default (300). Restarted and still got the 401 on discovery. Do you know how long it will be before it lets me back in? Will it happen spontaneously or will I need to restart periodically?

Thanks for the plugin and your help!

Jeff

[2021-01-16 16:45] donavanbecker commented on #57
If I may ask why did you set `devicediscovery`?

[2021-01-16 16:47] Bgoshua commented on #57
@nyjklein Fwiw I went through my logs after this happened to me and it took around 12 hours for the api to allow reconnect

[2021-01-16 16:47] donavanbecker commented on #57
When I first received a 401 it took about a half a day I would say, but might not be back till tomorrow. Sorry....
I would wait till then to restart so that you aren't requesting anymore.

[2021-01-16 16:50] nyjklein commented on #57
When the errors started, I thought this might generate additional information and the bug report template suggested it.

[2021-01-16 16:53] donavanbecker commented on #57
Thanks for letting me know why. I will remove it from the big report template. Sorry for this issue auto closing on you.

In the future just add info, never take away or it will auto close. I put this in place so spam issues auto close.

[2021-01-16 18:20] pulkitjalan commented on #40
Oh ok, I didn’t realise that was linked. Ok no worries 👍

--
Pulkit Jalan
pulkit1990@gmail.com
On 16 Jan 2021, 14:41 +0000, Donavan Becker <notifications@github.com>, wrote:

[2021-01-16 20:31] MikeDeltaHH commented on #53
Thank you! Is a strange problem, I know! Also appears only with this bot, the other two switch as provided in the automations!

[2021-01-16 21:56] donavanbecker commented on #53
Has it happened since?

[2021-01-17 09:34] MikeDeltaHH commented on #53
Yes, one more time! I have a bot still lying here and exchanged for the one with the problem, will watch that the next few days times!

[2021-01-17 10:03] erwinloh opened #59 "Support for IR Fan"
Hi

As title states, looks like some IR devices are supported, e.g. TV, but not other types, e.g. Fan or Other.

1. Can the developers give us an idea of what device type is supported?
2. Can the IR Type Fan or Other be supported?

Logs:

17/01/2021, 8:56:06 pm [SwitchBot] {"statusCode":100,"body":{"deviceList":[{"deviceId":"C50EE9528705","deviceName":"Hub Mini Downstairs","deviceType":"Hub Mini",

[2021-01-17 10:03] #59 closed

[2021-01-17 10:46] erwinloh commented on #51
FYI I have the same issue and I’m looking forward to the next release that will allow for DIY TV.

[2021-01-17 13:06] Kohle81 commented on #51
@donavanbecker

Could you please show me, what I have to write to the config.json for my DIY TV?

Then I can deactivate discovery....

Thanks for your engegement

[2021-01-17 13:43] nyjklein commented on #57
I'm back in action this morning.

[2021-01-17 13:43] #57 closed

[2021-01-17 13:46] donavanbecker commented on #51
@Kohle81 You don't need device discovery on at all. Also the plugin should find DIY TV with out you doing anything.

This is what I have to figure out, which is going to take sometime since my set is finding the DIY TV with no problem

[2021-01-17 15:04] donavanbecker commented on #57
@nyjklein Awesome!!

[2021-01-17 15:09] Kohle81 commented on #51
Now I had discovery off and DIY works 🤷‍♂️

Great 👍 and thanks

[2021-01-17 15:28] donavanbecker commented on #51
@erwinloh Do you have device discovery on? If no what does your setup look like?

Homebridge version?
Node version?
Etc?

[2021-01-17 23:38] erwinloh commented on #51
@donavanbecker Yes device discovery is on. I'm using the current release, not the beta.

I've got 3 switchbot bots, 2 switchbot minis, 1 of these running an IR Samsung TV (which is discovered and in Homekit), the other a custom TV (which is not discovered and not in Homekit).

I'm using Hoobs version 3.3.2
Node version 14.15.1

[2021-01-18 01:35] donavanbecker commented on #51
I develop for homebridge so if you are wanting to test the latest code (beta) then you would need to switch to Homebridge.

[2021-01-18 01:58] erwinloh commented on #51
@donavanbecker - thanks for the response.

Hoobs is basically the same as Homebridge with a custom UI - it uses the same plugin and code.

I'm on 2.0.0 at the moment, and I'm happy to wait until the beta gets released as the next stable version. No hurry from me!

[2021-01-18 02:03] donavanbecker commented on #51
@erwinlo, I have used HOOBs before and have left because of limitations and because homebridge ran better for me.

HOOBs is more then just a Custom UI, they have changed things quite of bit, also they clone plugins to their own repo, where with homebridge it pulls form npm.

[2021-01-18 02:07] donavanbecker commented on #51
@erwinloh, nice thing is this was created for the Homebridge UI -[Migrate-From-HOOBS-To-Homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge)

[2021-01-18 02:08] erwinloh commented on #51
@donavanbecker - interesting info.

I know that within Hoobs, the moment you issue a new release, within the interface you get notified, and can upgrade immediately. I can also manually install from npm also within Hoobs, and it works. So when you go from beta to stable for the latest version, let me know, and I can let you know how it goes.

Also, thanks for the migration link, very useful to kno

[2021-01-18 23:24] erwinloh commented on #51
@donavanbecker how would I manually install the beta to test it?

[2021-01-19 01:02] donavanbecker commented on #51
On Homebridge UI you click the previous version install button and then you will find the beta flag.

[2021-01-19 04:36] virtualxdriver commented on #42
After living on it for a few days, I can confirm the issue is addressed with 2.0.0. Thanks!

[2021-01-19 04:40] donavanbecker commented on #42
Awesome! Thanks for letting me know. And sorry for having to release v2.0.0, need to release it sooner then later so we don't run into duplicate devices, if changed between devices.

[2021-01-19 04:49] erwinloh commented on #51
@donavanbecker thanks - I'll have to install the beta in terminal - what's the direct link to the package?

[2021-01-19 04:54] donavanbecker commented on #51
@erwinloh

Terminal install:
[code]

[2021-01-19 05:05] erwinloh commented on #51
@donavanbecker Thanks - interestingly, that installed 2.0.0 - the current release - for me.

[2021-01-19 05:49] Kohle81 commented on #51
@erwinloh

Look here, you see all released versions, beta included.

https://www.npmjs.com/package/homebridge-switchbot-openapi?activeTab=readme

[2021-01-19 06:00] erwinloh commented on #51
@Kohle81 and @donavanbecker

Thanks both - I got the beta installed using:

sudo npm i homebridge-switchbot-openapi@2.0.1-beta.4

And it's all working fine! The Custom TV shows up in Homekit, and working fine!

Thanks everyone!

[2021-01-19 10:42] donavanbecker commented on #51
Thanks. For got the beta flag in the command. It is added in the command now.

[2021-01-19 12:11] matclothier opened #63 "Set min and max for Curtains does not work correctly"
I have 5 pairs of curtains and some of them report as 99% or 98% when closed not 100%, some also report as 1% or 2% open when fully opened.  I have recalibrated them several times but it still does the same if I make sure they are full closed and open when calibrating.  If I set the max and min at say 10 min and 90 max then when closed they show as fully closed but when open they only show as 90%

[2021-01-19 12:12] #63 closed

[2021-01-19 12:19] matclothier opened #64 "SwitchBot Curtain: set min and max does not work correctly"
I have 5 pairs of curtains and some of them report as 99% or 98% when closed not 100%, some also report as 1% or 2% open when fully opened. I have recalibrated them several times but it still does the same if I make sure they are full closed and open when calibrating. If I set the max and min at say 10 min and 90 max then when closed they show as fully closed but when open they only show as 90% op

[2021-01-19 17:14] donavanbecker commented on #64
@matclothier, I have corrected this in the latest beta. Can you test it out let let me know how it works?

You will not have to change your config at all.
Beta `v2.0.1-beta.6`

[2021-01-19 17:29] donavanbecker commented on #54
If I would be able to implement something like this, how would you expect it to show up in the Home app?

[2021-01-19 17:40] matclothier commented on #64
Just checked and it is exactly the same, sorry.

[2021-01-19 17:42] chrisschlitt commented on #8
Can you add me as well!

[2021-01-19 18:11] chrisschlitt opened #66 "Add Sensor for Water Level"
**Is your feature request related to a problem? Please describe.**

I want to be able to trigger Siri Shortcuts based on the water level

**Describe the solution you'd like**

Expose the water level as a sensor, so that a change to a certain percentage (or empty) can be used as a trigger in Siri Shortcuts. This way I can add a reminder notification for when the tank is low

**Describe alternatives

[2021-01-19 18:45] donavanbecker commented on #8
@chrisschlitt Do you have the SwitchBot app?

[2021-01-19 18:53] donavanbecker commented on #64
@matclothier, I tested this multiple times and it was working as expected with the changes in the beta.

Can you report back after a few days and let me know if you are still experiencing this?

Also if you are, can you post a screenshot of the SwitchBot App and Home App.

[2021-01-19 19:03] matclothier commented on #64
I have tried everything and it is definitely refreshed but still the same.  I have the max set to 90% and when the curtain is 0% (fully open) on the API it shows as 10% open in homebridge.  I do get an error that I am not on the beta of homebridge, if that has any impact?

The plugin "homebridge-switchbot-openapi" requires a Homebridge version of >=1.3.0-beta.47 which does not satisfy the current

[2021-01-19 20:32] donavanbecker commented on #64
@matclothier No that is mistake for not taking it out.

As for the Max and Min, I will have to figure out a way for this to display probably. Might not be out in the next release.

I would recommend Calibrating your curtains again.

[2021-01-19 20:32] chrisschlitt commented on #8
@donavanbecker I did a poor job at seeing if this was released or still in the beta phase before asking my question haha. Installed the plugin and everything worked perfectly! I was deep into the weeds of trying to get this to bluetooth pair (an older plugin) and gave up a few weeks ago only to find this today! Seems like the trick was unlocking the developer menu, clutch! Sent a donation in for t

[2021-01-19 20:38] donavanbecker commented on #8
I saw your other request so figured you got it.

Glad you enjoy the plugin.

[2021-01-19 20:40] matclothier commented on #64
If I calibrate so that it goes to 100% then they don’t fully close so that isn’t an option. The rod ones are a bit of a pain. Can you not just say that if the value is between max and 100 then override it to 100 and same for min and 0?

[2021-01-19 21:39] joshepw commented on #55
Please add Air Conditioner Support, Maybe with the Heater Cooler Service you can change Fan Speed, Fan Swing, PowerOn/Off, and config the min/max device like:
[Characteristic].setProps({
            minValue: 16, <-- Config param
            maxValue: 30, <-- Config param
            minStep: 1
})

[2021-01-20 01:22] joshepw commented on #55
Hello again dude, i made this AirConditioner.ts for irDevices, i forked your bera Repo, can try add this or modify:

`import {
	Characteristic,
	CharacteristicEventTypes,
	CharacteristicGetCallback,
	CharacteristicValue,
	PlatformAccessory,
	Service,
} from 'homebridge';
import { SwitchBotPlatform } from '../platform';
import { DeviceURL } from '../settings';
import { irdevice, deviceStatusRespons

[2021-01-20 03:56] donavanbecker commented on #55
@joshepw Thanks! If you would like to submit a PR towards the beta branch, I can merge this? Or I can put it into the already started code for airconditioners. Whatever you decide. I am working when I have time to get all device implemented. I am getting close.

[2021-01-20 07:53] MikeDeltaHH commented on #53
The problem has not occurred since I swapped the bot.... I leave it at that, that will probably not really resolve!

[2021-01-20 07:53] #53 closed

[2021-01-20 11:18] amanolo opened #68 "Please add support for Air Conditioner"
[20/01/2021, 13:09:38] [SwitchBot] Device: Living Room Air Conditioner with Device Type: Air Conditioner, is currently not supported. Submit Feature Requests Here: https://git.io/JL14Z
[20/01/2021, 13:09:40] [SwitchBot] deviceStatus - Hub Mini BD {"statusCode":100,"body":{},"message":"success"}
[20/01/2021, 13:09:40] [SwitchBot] deviceStatus - Living Room Air Conditioner "wrong deviceId"
[20/01/20

[2021-01-20 11:18] #68 closed

[2021-01-20 14:34] donavanbecker commented on #55
I took parts of what you posted, and will issue a new beta soon.

[2021-01-20 16:20] amanolo opened #69 "Please add support for A/C"
{
	"statusCode":100,
	"body":	{
		"deviceList": [
			],
			"infraredRemoteList": [
					{
						"deviceId": "02-202101201235-11403291",
						"deviceName": "Living Room Air Conditioner",
						"remoteType":"Air Conditioner",
						"hubDeviceId":"EEDA097901BD"
					}
			]
	},
	"message":"success"
}

[2021-01-20 16:21] #69 closed

[2021-01-20 16:24] amanolo opened #70 "Please add support for A/C (ir device)"
**Is your feature request related to a problem? Please describe.**
[SwitchBot] Unable to retreive device status.

**Describe the solution you'd like**
Please add support for A/C (ir device)

**Describe alternatives you've considered**

**Additional context**

[code]

[2021-01-20 16:39] donavanbecker commented on #70
duplicate of #55

[2021-01-20 16:39] #70 closed

[2021-01-20 16:41] donavanbecker commented on #55
@willliamchan, @joshepw and @amanolo I have added support for Air Conditioners thanks for helping @joshepw, made this quicker.

if you can test the latest beta?
Beta: `v2.0.1-beta.7`

[2021-01-20 17:52] matclothier commented on #64
OK, I have done some more testing today.  It is working better but still not right.  With max set to 90% and no min set at all, when the curtains are open they now show as fully open but when closed they show as closed in the homebridge interface but closing with the details showing 10% open in the apple home app.  Any suggestions?

[2021-01-20 18:16] donavanbecker commented on #64
@matclothier I am going to keep on working on this. I have experienced what you are talking about, so I just need to figure out a way to approach it. Might take a little bit.

[2021-01-20 18:37] matclothier commented on #64
Great thanks. Let me know if you want me to test anything or when there is a new beta to test

[2021-01-20 21:03] #51 closed

[2021-01-20 21:03] #54 closed

[2021-01-20 21:03] #55 closed

[2021-01-20 21:50] joshepw commented on #55
Hi @donavanbecker , can you write me to telegram? My user is @joshepw and i can help you with refactor some code.

Can you explain me how test the beta in my homebridge? I wrote the code without test.

[2021-01-20 23:26] willliamchan commented on #54
I think we can keep it as a ON/OFF switch with a TV icon.

Regards
William
________________________________
From: Donavan Becker <notifications@github.com>
Sent: Thursday, January 21, 2021 5:03:37 AM
To: OpenWonderLabs/homebridge-switchbot-openapi <homebridge-switchbot-openapi@noreply.github.com>
Cc: willliamchan <willliam@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [OpenWonderLab

[2021-01-21 03:03] donavanbecker commented on #54
As you probably already know, this has been released with v2.1.0

[2021-01-21 03:05] donavanbecker commented on #70
As you probably already know, this has been released with v2.1.0

[2021-01-21 03:05] donavanbecker commented on #69
As you probably already know, this has been released with v2.1.0

[2021-01-21 03:06] donavanbecker commented on #68
As you probably already know, this has been released with v2.1.0

[2021-01-21 03:06] donavanbecker commented on #55
As you probably already know, this has been released with v2.1.0

[2021-01-21 03:09] donavanbecker commented on #51
As you probably already know, this has been released with v2.1.0

[2021-01-21 03:54] erwinloh commented on #51
@donavanbecker thanks for the update! All working fine here.

[2021-01-21 14:50] nyjklein commented on #64
If I may, I'm having similar issues. Since I upgraded to 2.4.1 this morning, I'm now getting a series of these messages in the log whenever I open or close the curtains from the Homebridge interface even after I've recalibrated:
[21/01/2021, 09:41:19] [SwitchBot] Your Curtains need to be recalibrated
[21/01/2021, 09:41:20] [SwitchBot] Your Curtains need to be recalibrated
[21/01/2021, 09:41:21] [S

[2021-01-21 15:26] donavanbecker commented on #64
Can you please open another issue for this?

[2021-01-21 16:00] nyjklein opened #71 "[SwitchBot] Your Curtains need to be recalibrated"
**Describe The Bug:
I upgraded to 2.1.0 this morning, I'm now getting a series of these messages in the log whenever I open or close the curtains from the Homebridge interface or the Home app even after I've recalibrated:
[21/01/2021, 09:41:19] [SwitchBot] Your Curtains need to be recalibrated
[21/01/2021, 09:41:20] [SwitchBot] Your Curtains need to be recalibrated
[21/01/2021, 09:41:21] [SwitchBo

[2021-01-21 19:37] donavanbecker commented on #71
@nyjklein I will remove this log, in the next version. That is what the api is pulling from your curtains.

[2021-01-22 03:19] djjlipod opened #72 "Make the bot show as a tv"
this might be to unique, but it would be great if the bot could show up similar to a tv or ir device in HomeKit so you have the power button instead of it acting as a plug, light or fan, or if their was a option in the api settings to select what the bot is used for so it shows up better in HomeKit of what the device could be

[2021-01-22 03:19] #72 closed

[2021-01-22 03:46] djjlipod opened #75 "SwitchBot bot choice of device"
**Is your feature request related to a problem? Please describe.**

a great feature would be to change how the SwitchBot bot shows in HomeKit, such as a tv or a speaker or a coffee machine. it would be great for setting routines

**Describe the solution you'd like**

<!-somewhere in the api settings allow to choose from a list of what the SwitchBotJapan will show in home as -->

**Describe alterna

[2021-01-22 14:53] nyjklein commented on #71
Thank you!

Could you tell me, were these messages from the API happening in the past but just not logged until V2.1.0? I'm not really clear what theses messages mean.

[2021-01-22 15:09] nyjklein commented on #64
Again, sorry for jumping into someone else's bug. But I'm really unclear on what the min and max options are meant to do and how that will solve my issue.

My basic issue, is that even when the curtains are sent the fully open or fully closed command, they seem to "rebound" and end up at 2% or 98% , Thus the Homebridge/Homekit status never ends up fully open or closed. Perhaps this is a bug or the

[2021-01-22 15:29] donavanbecker commented on #71
Yes it was a log I added in v2.1.0... so you can ignore for now.

[2021-01-23 02:31] btcdtc opened #76 "Plugin does not send corrent command to IR Air Conditioner, And suggests add an option to disable auto mode for AC."
Hi,
I'd like to suggest one issue and one enhancement.

the issue:
I found the plugin does not send correct mode and fan speed to the IR AC. it always send mode 1 and fan speed 1.

[SwitchBot] Sending request for Air Conditioner Air Conditioner to SwitchBot API. command: turnOn parameter: default commandType: command
[SwitchBot] Sending request for Air Conditioner Air Conditioner to SwitchBot API.

[2021-01-23 02:31] #76 closed

[2021-01-23 02:39] btcdtc opened #77 "Plugin does not send corrent command to IR Air Conditioner, And suggests add an option to disable auto mode for AC."
**Describe The Bug:**
Hi,
I'd like to suggest one issue and one enhancement.

the issue:
I found the plugin does not send correct mode and fan speed to the IR AC. it always send mode 1 and fan speed 1.

Air Conditioner | command | setAll | {temperature},{mode},{fan speed},{power state}e.g. 26,1,3,on | the unit of temperature is in celsius; modes include 1 (auto), 2 (cool), 3 (dry), 4 (fan), 5 (hea

[2021-01-23 13:56] SebastiaanWiewel commented on #25
Have been testing for a while and works wonderfully!

[2021-01-23 16:19] donavanbecker commented on #25
@SebastiaanWiewel I am going to keep this open, because I am hoping to implement something that would not send a call until the end user stops changing for around 2 seconds. Just need to get time to do it.

[2021-01-25 08:43] lhttony opened #79 "How to config the IR aircon ?"
I've already upgraded the plugin to V2.1 already.
However, in the UI-X configuration, only "Fan Settings" is under the "IR Device Settings" option.
Besides, I cannot find any documentation about how to config the config.json manually.

So may I know how to config it  ?

And FYI some logs here :

[1/25/2021, 4:25:24 PM] [SwitchBot] Discovered LivAir Air Conditioner
[1/25/2021, 4:25:24 PM] [SwitchBo

[2021-01-25 08:43] #79 closed

[2021-01-25 08:55] lhttony opened #80 "How to config the IR Aircon ?"
**Describe Your Problem:**
I've already upgraded the plugin to V2.1 already.
However, in the UI-X configuration, only "Fan Settings" is available under the "IR Device Settings" option.
Besides, I cannot find any documentation about how to config the config.json manually.

So may I know how to config it ?

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**
![image](https://user-ima

[2021-01-26 00:55] donavanbecker commented on #80
@lhttony There is no optional config settings for the air conditioner at the moment. But the air conditioner should add without having to enable device discovery or anything else.

So turn device discovery off and use air conditioner as is for now.

What settings do you need to set optionally?

[2021-01-27 18:22] jeroen020 opened #83 "Curtain not showing up in HomeKit, error 190"
**Describe The Bug:**

I've connected 3 curtains with U-Rail version via the API to HomeKit. It's very promising but one of my curtains won't respond to open/close commands. In the log in the Switchbot app it lists 'Unknown error (190)' whenever I try to open or close that curtain in HomeKit. Opening that curtain with the Switchbot app does work and it does show the open / closed state in the Home

[2021-01-29 05:07] jonpeng commented on #83
Your curtain bot may be too far away from the hub mini.

[2021-01-29 06:24] SwitchBot-Wonderlabs commented on #83
Hey, @jeroen020 ,  please reopen the cloud service.

[2021-01-29 09:21] jeroen020 commented on #83
Ah, just did that and now I'm able to control this curtain from HomeKit as well, no more errors in the log.
Out of curiosity, was this something that I could fix by enabling cloud service for this curtain all along, or did you do something on your side?
Anyway, thanks a bundle, very happy now that all my Switchbot curtains can be controlled in HomeKit!

[2021-01-29 09:21] #83 closed

[2021-01-29 09:29] SwitchBot-Wonderlabs commented on #83
Hey, @jeroen020 , it is an app's bug, please feedback in the app to help us locate the bug. Thanks.

[2021-01-29 09:39] jeroen020 commented on #83
Just left bug feedback in the app, pointing to this thread. As it's (still) a bug, should I reopen this ticket, or leave it closed, as it's working now (for me at least)?

[2021-01-29 10:16] SwitchBot-Wonderlabs commented on #83
Up to you.
We will follow up the feedback case.

[2021-01-31 00:49] Aekung commented on #48
Hiding one bot and only use the priority bot doesn't really work in my case. It would work for a day, then it would only control the priority bot the next day without trying to move the secondary bot. This causes the curtain to not being able to fully open or close since the secondary bot's motor doesn't work so it doesn't help running on the track together with the priority bot hence the curtain

[2021-01-31 14:18] FishyD commented on #48
I don’t think you are using the two bots like we are. We are using them as pairs to manipulate opposing sides of a left/right curtain. It seems you are trying to use them as a train, to open a heavy curtain. I’m
not tracking that is a configuration supported by the SB app. Am I understanding correctly?

If you pair 2 bots properly in the SB app: You have to hide the bot you added second when you s

[2021-01-31 17:31] Kohle81 opened #84 "Switchbot Humidifier - Level 1-3"
hello, temporarily I also bought the humidifier and it works perfectly!  I like to have the humidifier always on level 3, this cannot yet be controlled via homebridge / Homekit, right?  If the humidifier is manually set to level 1, it will only be heard on the pre-set level via an automation.  would be great if you could do this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2021-01-31 17:32] #84 closed

[2021-01-31 17:35] Kohle81 opened #85 "Humidifier - Integrate function for Level 1,2,3"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

hello, temporarily I also bought the humidifier and it works perfectly!  I like to have the humidifier always on level 3, this cannot yet be controlled via homebridge / Homekit, right?  If the humidifier is manually set to le

[2021-01-31 20:21] donavanbecker commented on #85
@Kohle81 how would you expect this to be displayed?

[2021-01-31 20:39] Kohle81 commented on #85
Thanks for fast answer. It could be a dimmable lamp. 1-33 % is for level 1, 34-66 % is level 2 and 64-100 % level 3.......

[2021-01-31 20:41] donavanbecker commented on #85
what I will do is add an option for a min step value that can be set in the config. and then if you see that to 33 then it will go from 33/66/99... when you set it.

[2021-01-31 20:45] Kohle81 commented on #85
This is great! Thanks

[2021-02-01 03:48] donavanbecker commented on #85
@Kohle81 okay got time to work on this, can you test the latest beta?

Beta: `v2.1.1-beta.0`

[2021-02-01 05:55] Kohle81 commented on #85
I have installed beta.3 and it works.

If I use the light lamp in Homekit, the level switches from 1 to 2 or 3......

It works fine!

When I switches in the switchbot app the level from 2to 3 the light lamp doesn‘t actuql status...... It keeps to 48 %

[2021-02-01 06:06] SwitchBot-Wonderlabs commented on #85
Hey, @Kohle81 , please try again and feedback with the app.

[2021-02-01 06:30] Kohle81 commented on #85
Hi, I am on 2.1.1-beta.0 now.

If the humidifier is switches on/off manually, there is no reaction in Homekit. The state would not be actualized....

[2021-02-01 06:40] Kohle81 commented on #85
Hmmh, I am now back to the actual version.

There is the same, if I switch on the humidifier manually, there is noch actual state in Homekit. The device is on and Homekit shows it at off. In the switchbot app the state is on.

Yesterday it worked perfectly. Could it be, that a restart of homebridge deleted something?

[2021-02-01 13:25] donavanbecker commented on #85
@Kohle81 No I would try installing the beta again. I am running it and tried the minSteps and it is working as expected.

[2021-02-01 18:14] Kohle81 commented on #85
I tried the beta again and now it works actually. I have checked my config, there is a refresh rate= 120....... so I am sorry, „mea culpa“

[2021-02-01 18:29] Kohle81 commented on #85
I am on beta.3 and the state of the humidifier  will actually after 3 min.

But I noticed, that the State of the humidifier is Level 1 (look Switchbot App) and Homekit shows 100 %.

![72B99DD6-0746-47B9-A000-CFEA9EB3CDFA](https://user-images.githubusercontent.com/33038709/106501699-bc91bc80-64c3-11eb-97d6-9601127e0bff.jpeg)
![Uploading A1734609-53AE-4A73-A98C-08C651A2D870.jpeg…]()

[2021-02-02 01:17] donavanbecker commented on #71
@nyjklein This has been removed with the latest beta.

[2021-02-02 01:18] donavanbecker commented on #64
@matclothier And @nyjklein can you test the latest beta and let me know if it is working for you now?

[2021-02-02 01:53] donavanbecker commented on #64
Nvm let me look into this further.

[2021-02-02 13:56] nyjklein commented on #71
On v2.1.1-beta.4 and the messages are gone.

Thanks.

[2021-02-02 14:18] nyjklein commented on #64
I see you're still working on this but I wanted to add a couple of pictures to clarify the issue from my perspective.

This is what HomeKit shows:
![Screenshot 2021-02-02 at 9 00 11 AM](https://user-images.githubusercontent.com/76184316/106612099-bab51100-6536-11eb-988b-8c13e5d5bef7.png)

Even though the SwitchBot shows app the status as "fully closed":
![Screenshot 2021-02-02 at 9 14 55 AM](https

[2021-02-03 05:30] donavanbecker commented on #85
@Kohle81 can you try  Beta:`v2.1.1-beta.7`?

[2021-02-03 05:31] donavanbecker commented on #71
@nyjklein  can you try  Beta:`v2.1.1-beta.7`, you may have issues with beta 4 and 5 so going to 6 or 7 will prevent this?

[2021-02-03 05:31] donavanbecker commented on #64
@matclothier And @nyjklein can you try  Beta:`v2.1.1-beta.7`?

[2021-02-03 06:41] Kohle81 commented on #85
hi, i'm now on beta 7. Unfortunately, manual switching does not update the status in Homekit correctly.  the humidifier starts up, but shows 100%, although the humidifier is at low level

[2021-02-03 06:56] donavanbecker commented on #85
I don't know what to tell you, because this is working perfectly for me on my humidifier.

[2021-02-03 08:27] Kohle81 commented on #85
Ok, thanks for your answer.

I will have a look tonight. Perhaps I would delete the cached accessories and restart homebridge....

[2021-02-03 14:38] nyjklein commented on #64
Upgraded to v2.1.1-beta.7. I'm now seeing this weird error:

node:28359) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'set_minStep' of undefined
    at new Curtain (/usr/local/lib/node_modules/homebridge-switchbot-openapi/src/Devices/Curtain.ts:75:57)
    at SwitchBotPlatform.createCurtain (/usr/local/lib/node_modules/homebridge-switchbot-openapi/src/platform.ts:519:9)
    at

[2021-02-03 16:21] donavanbecker commented on #64
@nyjklein No this shouldn't haven't to be inputted.

[2021-02-03 16:34] nyjklein commented on #64
When I set a value for min step, that error goes away. When I clear it to default, the error comes back.

Jeff

[2021-02-03 16:59] matclothier commented on #64
No, still the same in Apple home stuck on closing or opening.  In accessories in Homebridge it was showing as fully closed or open but not any more.

[2021-02-03 18:28] Kohle81 commented on #85
Hi,
I am now correct at beta.7, there was a failure with „sudo npm install „, I tried with „unsafe perm“ and now beta7 is installed.

But now Humidifier isn‘t in Homekit and I have this report in log:

Feb 03 19:21:06 raspberrypi homebridge[6163]: [03/02/2021, 19:21:06] Homebridge is running on port 51811.
Feb 03 19:21:07 raspberrypi homebridge[6163]: [03/02/2021, 19:21:07] [SwitchBot] Total Switc

[2021-02-04 06:15] donavanbecker commented on #64
@matclothier and @nyjklein can you give Beta: `v2.1.1-beta.14` a try?

[2021-02-04 06:15] donavanbecker commented on #85
@Kohle81 can you update to Beta: `v2.1.1-beta.14`

[2021-02-04 06:48] Kohle81 commented on #85
I am now on beta 14, the humidifier is displayed again in homekit.  There are no errors in the log.  but the status does not change in homekit.  the humidifier was on level 1 and after the plugin update and homebridge restart it took a few minutes.  then the humidifier was on, but level at 100%

[2021-02-04 11:27] matclothier commented on #64
still looks exactly the same to me.

[2021-02-04 14:37] donavanbecker commented on #85
Can you clear activity on just your humidifier accessory from homebridge UI? You don't have to clear all of  your homebridge accessories.

[2021-02-04 14:37] donavanbecker commented on #64
Can you clear activity on just your curtain accessory from homebridge UI? You don't have to clear all of  your homebridge accessories.

[2021-02-04 14:47] nyjklein commented on #64
A bit different for me. But back to where I think the production version was.

First, the issue in earlier betas with the error when min step is defaulted is fixed.

It still has the "rebound" issue, i.e. when you close or open the curtain it initially reflects "fully" and details show 0% or 100%. But when the refresh occurs, the status then shows **2% open** when it's really **closed** and **98%

[2021-02-04 15:04] nyjklein commented on #64
I removed the curtain cached accessory, restarted, and the curtain was discovered and added back.

I'm seeing the same behavior described in the update just above.

Jeff

[2021-02-04 16:59] donavanbecker commented on #85
@Kohle81 Once again, not sure what to you tell you? I am displaying exactly what SwitchBot is displaying. Also looking at your config above doesn't look like you have minStep setup for the humidifier...

<a><img src="https://user-images.githubusercontent.com/9875439/106927184-89c01200-66d7-11eb-9aac-07192278acb9.PNG" width="250px"></a><a><img src="https://user-images.githubusercontent.com/9875439/

[2021-02-04 17:06] donavanbecker commented on #64
I am really sorry @nyjklein, this is working as expected for me...
<a><img src="https://user-images.githubusercontent.com/9875439/106928557-ec65dd80-66d8-11eb-89e3-d0e8cc979a8d.png" width="250px"></a><a><img src="https://user-images.githubusercontent.com/9875439/106928460-d0623c00-66d8-11eb-9dc8-653ae2ac2315.png" width="250px"></a>
<a><img src="https://user-images.githubusercontent.com/9875439/106

[2021-02-04 17:07] Kohle81 commented on #85
Can you show me please, how to configure config.json?

[2021-02-04 17:15] matclothier commented on #64
Not for me:
![20210204_171147000_iOS](https://user-images.githubusercontent.com/55290749/106929605-78ddc380-670c-11eb-835a-7b6df55dda77.png)
![20210204_171207000_iOS](https://user-images.githubusercontent.com/55290749/106929612-7aa78700-670c-11eb-9d33-542fb8bfcfb6.png)
![20210204_171222000_iOS](https://user-images.githubusercontent.com/55290749/106929617-7c714a80-670c-11eb-8470-62f2f364c9f4.png)

[2021-02-04 17:20] donavanbecker commented on #85
@Kohle81 Easiest way will be to use Homebridge UI

[2021-02-04 17:40] donavanbecker commented on #64
@matclothier What version of homebridge are you using?

[2021-02-04 17:48] matclothier commented on #64
1.2.5

[2021-02-04 18:05] Kohle81 commented on #85
I understand that.  I try to get the setting for the config from others.  I am grateful for your willingness and help.  I am used to the fact that the config is available on github ........ but I don't want to appear ungrateful ....

[2021-02-04 18:10] donavanbecker commented on #64
can you try `v1.3.0-beta.50`

[2021-02-04 18:28] matclothier commented on #64
I’m running it on docker on my Synology NAS. Any idea how I install the beta version?

[2021-02-04 18:57] donavanbecker commented on #64
Are you using Homebridge UI?

[2021-02-04 19:28] nyjklein commented on #64
**Adjusting my settings on v2.1.1-beta.14 now works correctly for me!!!**

I have:
                "curtain": {
                    "set_minStep": 20,
                    "set_min": 2,
                    "set_max": 98
                }
And that seems to fix my issue with open and close! My status in Homebridge and the Home app now correctly reflect "fully open" and "fully closed". Hoorah !

Donav

[2021-02-04 20:09] Kohle81 commented on #85
Hi,

thanks for showing your config, I didn't realized this over the info e-mail from GitHub.......

I have changed my config like:

{
	"bridge": {
		"name": "Homebridge-switchbot",
		"username": "CC:22:3D:E3:CE:11",
		"port": 51811,
		"pin": "031-45-154",
		"manufacturer": "@Paul Schmidt",
		"model": "Homebridge",
		"serialNumber": "0.4.45"
	},
	"plugins": [
		"homebridge-switchbot-openapi"
	],

[2021-02-04 21:06] Kohle81 commented on #85
hello, it's me again.  I am currently making the following observation: if I change the level in the switchbot, the status in homekit is displayed after about 4-5 minutes.  but if I manually operate the switch on the humidifier myself and thus change the level, I currently don't get any changes in homekit - but the status in the switchbot app is current and correct

[2021-02-04 21:11] donavanbecker commented on #85
@Kohle81 this is a cloud based api, so homekit has to wait till Homebridge refreshes, the default refresh is set to 300, which would be 5 mins. If you use homebridge UI, it allows you to make this number lower then 300 if you choose.

[2021-02-04 21:32] Kohle81 commented on #85
Thanks,

I am now back to

"refreshRate": 120,

and now it looks good! 👍

I hope I wasn't too strenuous 😜

[2021-02-05 07:38] Kohle81 commented on #85
Hi @donavanbecker ,

I have tested the function and synchronisation homekit with minihub works.

Perhaps I have found a bug.

First time, when humidifier is off and then I switch humidifier to on, there is level „low“, par example.

After 2 min. honekit shows humidifier as „on“, but on level 100 %.....

humidifier and switchbot app are showing level „low“.

In this szenario synchronisation doesn‘t

[2021-02-05 10:38] matclothier commented on #64
I didn’t get a chance to update but this morning it all seems to be working perfectly. Thanks for all the efforts on this

[2021-02-06 02:18] #80 closed

[2021-02-08 02:20] Aekung commented on #48
I am sure that I pair 2 bots properly in SB app. It works now for some reason but, sometimes, the opening or closing status will always say "closing or opening" nonstop (Only sometimes). Is it also happening to you?

[2021-02-08 03:56] donavanbecker commented on #48
You will want to set your min and max, because API doesn't say close or open like SwitchBot App, this is the only way to get around this. As you can see I have mine set 2 and 98.
<img width="760" alt="Screen Shot 2021-02-07 at 9 55 00 PM" src="https://user-images.githubusercontent.com/9875439/107174180-2c55ea80-698f-11eb-872b-d136289b3531.png">

[2021-02-08 17:11] donavanbecker commented on #25
@SebastiaanWiewel can you test the latest beta? and see what you think

Beta: `v2.1.1-beta.25`

[2021-02-08 21:59] #71 closed

[2021-02-08 21:59] #77 closed

[2021-02-08 21:59] #85 closed

[2021-02-08 21:59] #43 closed

[2021-02-08 21:59] #64 closed

[2021-02-08 22:04] donavanbecker commented on #75
@djjlipod, with there being so many different devices that you could set a bot too, I feel like the best option is outlet, since it can be set as a light, outlet, or fan. I could add the option of setting it as a switch also....

If anyone submits a PR for it to be something like a TV, I would consider merging.

[2021-02-08 22:04] #75 closed

[2021-02-08 22:05] donavanbecker commented on #25
#86

[2021-02-08 22:05] #25 closed

[2021-02-10 15:12] nyjklein opened #98 "Meter - F vs. C"
Describe The Bug:
I upgraded to 2.4.0 this morning which added the meter option to convert to F or C. I selected F and boy it got really hot 159 degrees! :)

I'm not sure it's a bug or just a documentation clarification. The Homebridge-Config-UI-X has it's own F vs. C option that was already converting for me. So selecting F in the switchbot plugin ended up doing a double conversion.

To Reproduce

[2021-02-10 15:19] donavanbecker commented on #98
@nyjklein its only for converting purposes if you need to, I added it just incase someones temperature wasn't showing correctly.

[2021-02-10 15:48] nyjklein commented on #98
Thanks. That's fine. Was just letting you know.

[2021-02-10 15:48] #98 closed

[2021-02-10 16:07] donavanbecker commented on #98
@nyjklein thanks! yeah I could potentially add more documentation. It might be something not needed but wasn't sure.

Also the Homebridge UI, Fahrenheit and Celsius, doesn't have an impact on plugins so I think that it is just something the home app is converting which I am kinda surprised by...

[2021-02-11 13:42] Aekung commented on #48
Still doesn't work correctly for me. Today, it seems to be getting worst. Homekit today only commands a single bot, not both, for no reason.

I checked that the Switchbot app is still pairing in "Both Sides" mode and the switchbot remote I have is working correctly. Only the Homekit commands that wouldn't be registered the right way somehow.

This is very frustrated since the Switchbot and Switchb

[2021-02-11 13:49] donavanbecker commented on #48
@Aekung can you Please open a new issue and we can track your issue with curtains there?

[2021-02-12 15:08] SimonLawson70 opened #102 "SwitchBot Bot exposed as outlet"
The SwitchBot Bot is exposed in the Home app as a power outlet, not a switch.

**To Reproduce:**

1. Installed SwitchBot OpenAPI plugin
2. Logged in with Developer Token
3. In the iOS 14 Home app, my SwitchBot Bot is exposed as an outlet

I expected the SwitchBot to be a switch!

**Logs:**

{
            "name": "SwitchBot",
            "credentials": {
                "openToken": "*****",

[2021-02-12 15:11] donavanbecker commented on #102
https://github.com/OpenWonderLabs/homebridge-switchbot-openapi/releases/tag/v2.3.0

[2021-02-12 15:33] donavanbecker commented on #102
I displayed it as outlet because you have 3 different devices you can set it as: outlet, light, fan.

With switch you only have 1

[2021-02-12 23:20] BigKrisch opened #103 "Homebridge crashes with version 3.0.0"
Describe The Bug:

since version 3.0.0 I always get the following error message with the curtains and the Homebridge crashes:

`[13.2.2021, 00:07:23] TypeError: this.doCurtainUpdate.push is not a function
    at Curtain.handleTargetPositionSet (/usr/local/lib/node_modules/homebridge-switchbot-openapi/src/devices/curtains.ts:286:26)
    at Characteristic.emit (events.js:315:20)
    at Characteristi

[2021-02-12 23:49] donavanbecker commented on #103
@BigKrisch To much of the template was changed. That's what it closed. In the future if you just add in your info you should be good. Sorry about that.

I will look into this.

[2021-02-12 23:49] donavanbecker commented on #103
@BigKrisch Can you try the latest beta of homebridge?

[2021-02-13 00:01] BigKrisch commented on #103
@donavanbecker I will follow the template better next time. Thank you for reopening.

With the current Homebridge version 1.3.0-beta.56 I get this error message:

`[13.2.2021, 00:55:10] Received warning for the plugin 'homebridge-switchbot-openapi' from the characteristic 'Target Position': Unhandled error thrown inside write handler for characteristic: TypeError: this.doCurtainUpdate.push is not

[2021-02-13 00:06] donavanbecker commented on #103
@BigKrisch I found the issue. I will get a fix out soon.

[2021-02-13 00:07] BigKrisch commented on #103
Perfect. Thank you very much!

[2021-02-13 05:22] donavanbecker commented on #103
Version 3.0.1 fixes issue.

[2021-02-13 05:22] #103 closed

[2021-02-13 06:32] donavanbecker commented on #48
@FishyD @VeniceNerd @jonpeng

I believe I have a fix for this in the latest beta if you could give it a test and let me know if it works for you.

Beta:  `v3.0.2-beta.0`

The way this should work, The API gives a `curtainDevicesIds` Array which as 2 `deviceIds` when grouped. The plugin looks at the first `deviceId` in the `curtainDevicesIds` Array and added it, and ignores the other device id.

So

[2021-02-13 08:25] MikeDeltaHH opened #104 "After updating to the current version 3.0.1, the Bots no longer works"
With version 2.40 all my three switchbots work, when I update to version 3.x and activate a bot nothing happens - in the Homebridge log nothing is displayed as if Homebridge would not notice that at all! Only the humidifier continues to work! If I go back to version 2.4 the bots work again!

I have activated the Developer Mode and operated the bots several times, but no entry is generated in the l

[2021-02-13 09:34] DJay-X commented on #104
Same here. Just updated to 3.0.1 and Bots are not responding anymore. Nothing to see in the Log.
Curtains however still work.
homebridge@1.2.5 | node@14.15.5 | npm 7.5.3 | n@7.0.0 | switchbot-openapi@3.0.1

[code]

[2021-02-13 12:57] donavanbecker commented on #104
Have an idea of what it is, so give me a little bit and I will have a fix out.

[2021-02-13 13:30] donavanbecker commented on #104
@DJay-X @MikeDeltaHH

[v3.0.2](https://github.com/OpenWonderLabs/homebridge-switchbot-openapi/releases/tag/v3.0.2) is release and should fix this.

[2021-02-13 13:59] MikeDeltaHH commented on #104
Yes, ist works again! Thanks for the fast support and have a nice weekend!

[2021-02-13 13:59] #104 closed

[2021-02-13 14:03] donavanbecker commented on #104
@MikeDeltaHH No problem! If you have curtains and are willing to test the latest beta, check out #17

[2021-02-13 14:09] MikeDeltaHH commented on #104
Thanks - at the moment i haven‘t any courtains but these are on my list for the next time! 😁

[2021-02-14 01:04] antoniogermano opened #107 "Renaming SwitchBot Curtain adds newly-named device but keeps other devices with older name"
**Describe the issue:**
Renaming a device on the SwitchBot app adds the new device on HomeKit but does not remove the previous device. There's also no way that I've found to remove the old device.

**To Reproduce:**
This assumes you have a SwitchBot curtain already configured on the SwitchBot iOS app and on Homebridge using the homebridge-switchbot-openapi plugin. I only have a total of 2 curtains

[2021-02-14 05:44] donavanbecker commented on #107
The universally unique identifier (UUID) of any device that is added through the SwitchBot plugin is created based off of the deviceId, device name and device type so that no matter what this combination would always be unique.

To remove the left over curtains there is a setting in Homebridge UI that allows you to remove individual accessories from the accessory cache. This how you can remove the

[2021-02-14 17:48] FishyD commented on #48
@donavanbecker Sure, I would be happy to. How do I get the beta? I can't find it in versions tab or in app.

[2021-02-14 18:29] donavanbecker commented on #48
@FishyD

Install:

[code]

Revert:

[code]

[2021-02-14 18:42] FishyD commented on #48
@donavanbecker Getting errors in terminal.

npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/homebridge-SwitchBot-openapi - Not found
npm ERR! 404
npm ERR! 404  'homebridge-SwitchBot-openapi@beta' is not in the npm registry.
npm ERR! 404 Your package name is not valid, because
npm ERR! 404  1. name can no longer contain capital letters

Drop the capital "S"?

[2021-02-14 18:51] donavanbecker commented on #48
@FishyD yes sorry, it auto capitalized

[2021-02-14 18:52] FishyD commented on #48
@donavanbecker 3.0.3 works perfectly. It automatically hides the slaved bot and keeps the master displayed.

[2021-02-14 18:53] donavanbecker commented on #48
@FishyD should I add a log letting the user know that a group device has been found and that the secondary device has been grouped/hidden?

[2021-02-14 18:54] FishyD commented on #48
@FishyD I think it would certainly help let folks know what is going on behind the scenes when you add a grouped device.

[2021-02-14 22:50] Kohle81 opened #108 "hide „temperatur“ mode Humidifier"
I am on version v3.0.2 and I want to hide temperature sensor of Humidifier.

Here is my config part:

"humidifier": {
					"hide_temperature": true,
					"set_minStep": 20
				}

But in homekit the sensor is shown. I have deleted the cache snd restarted Homekit - sensor is there in Homekit.

Would it addition be possible to hide the temperature sensor and the humidity level from the humidifier in

[2021-02-15 00:56] donavanbecker commented on #108
@Kohle81 I will look into this.

[2021-02-16 12:30] Aekung commented on #48
Happy to report that the 3.0.3 Beta also works very fine for me. All the problem I have got on the previous version are gone, at least for now.

Thank you very much.

[2021-02-16 20:56] donavanbecker commented on #107
if you need more help feel free to reach out on the [homebridge discord server](https://discord.gg/5wYTbwP4ha).

[2021-02-16 20:56] #107 closed

[2021-02-16 21:28] #48 closed

[2021-02-16 21:28] #108 closed

[2021-02-16 21:53] #102 closed

[2021-02-17 21:57] jonpeng opened #114 "Curtain status in home app stuck in opening/closing"
**Describe Your Problem:**
Home app curtain status stuck in Opening / Closing. It doesn't matter what the real curtain status is. Other than that the curtain works good, and controls good in Home app.

**Logs:**

[2021-02-17, 2:39:07 p.m.] [SwitchBot] Sending request for Guest Room Curtain to SwitchBot API. command: setPosition parameter: 0,ff,100 commandType: command
[2021-02-17, 2:39:41 p.m.] [S

[2021-02-17 22:13] jonpeng opened #115 "Meter temperature sensor no response once below 0"
Meter temperature sensor shows No Response once below zero.

**To Reproduce:**
Put the sensor somewhere below 0 Celsius.

**Expected behavior:**
Home app SwitchBot meter temperature sensor No Response.

**Logs:**
No logs

**Homebridge Config:**

 {
            "name": "SwitchBot",
            "credentials": {
                "openToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                "

[2021-02-17 23:32] donavanbecker commented on #114
@jonpeng can you post the curtain from the switchbot app?

[2021-02-18 17:44] jonpeng commented on #114
@donavanbecker
![image](https://user-images.githubusercontent.com/48269361/108398382-2d301d00-71d6-11eb-8926-39baf8aa6119.png)
![image](https://user-images.githubusercontent.com/48269361/108398404-3325fe00-71d6-11eb-99fb-312b1ac20eb6.png)

[2021-02-18 18:42] donavanbecker commented on #114
@jonpeng can you click into the curtain so I can see the settings? and post screenshot.

[2021-02-18 20:01] jonpeng commented on #114
@donavanbecker
![image](https://user-images.githubusercontent.com/48269361/108413436-43df6f80-71e8-11eb-8125-0d3cef3c7e06.png)
![image](https://user-images.githubusercontent.com/48269361/108413519-5c4f8a00-71e8-11eb-8fff-45c34ae61f86.png)
![image](https://user-images.githubusercontent.com/48269361/108413547-62de0180-71e8-11eb-84cf-8d80c8ad2209.png)
![image](https://user-images.githubusercontent.co

[2021-02-19 01:06] donavanbecker commented on #114
Can you change set_max to 97?

[2021-02-19 05:31] jonpeng commented on #114
set_max changed to 97. But no changes.

[2021-02-22 05:02] donavanbecker commented on #114
okay I have had a chance to look at this. hoping the latest beta will fix this for you.
Can you test it out?

Beta: `v3.1.1-beta.12`

[2021-02-22 05:02] donavanbecker commented on #115
@jonpeng, had a chance to look at this. hoping the latest beta will fix this for you.
Can you test it out?

Beta: `v3.1.1-beta.12`

[2021-02-22 09:07] erwinloh opened #121 "Duplicate device after renaming in the Switchbot app"
As described, in current version of plugin.

In Switchbot app, I rename a switch bot.

The new name appears in Home app, but the old name remains.

Both the devices have same Mac address.

How do I get rid of the original bot from Home app?

[2021-02-22 09:47] erwinloh commented on #107
I have the same problem actually - how do you get rid of the old device without resetting everything?

[2021-02-22 12:47] donavanbecker commented on #107
@erwinloh do you have Homebridge UI? if so you can clear cache on just the 1 extra accessory.
<a><img src="https://user-images.githubusercontent.com/9875439/108710389-99ae6300-74d9-11eb-93c1-8401b9d0a372.png" width="800px"></a>

[2021-02-22 12:51] donavanbecker commented on #121
@erwinloh FYI, you can't change anything on the template or it will auto close, this is to prevent spam. I will reopen.

[2021-02-22 16:52] donavanbecker commented on #115
should be fixed with v3.2.0, if not please open new issue.

[2021-02-22 16:52] #115 closed

[2021-02-22 16:52] donavanbecker commented on #114
should be fixed with v3.2.0, if not please open new issue.

I would recommend looking at curtain refreshRate config and also potentially recalibrating your curtains.

[2021-02-22 18:08] jonpeng commented on #114
@donavanbecker
v3.2.0 doesn't run correctly on Homebridge v1.2.5. Curtains show correctly in Home app, but can not control. Some IR devices no response. I couldn't update it to v1.3.0 due to one of my other plugins has issues with the new HB version. I will try later.

logs for your reference:
[2021-02-22, 10:43:48 a.m.] [SwitchBot] Discovered Bonus room TV box DIY Set Top Box
[2021-02-22, 10:43:4

[2021-02-22 19:05] donavanbecker commented on #114
As it states in the release notes, `Homebridge 1.3.0` is the new requirement for that version, you will need to roll back to `v3.1.0`, until you can get to `Homebridge 1.3.0`.

all of those errors are because `.onSet` and `.onGet` are features of `Homebridge 1.3.0`.

[2021-02-22 19:10] #121 closed

[2021-02-22 21:14] erwinloh commented on #121
Hi @donavanbecker thanks for reopening - you may recall I use Hoobs, so there's no such option. I've resynced everything and it's fine now.

Is there a method of renaming devices in Switchbot that avoids this issue? Like shutting down the homebridge service, rename, and turning it back on?

[2021-02-22 21:33] donavanbecker commented on #121
@erwinloh No there isn't. If you rename you will have to do what you did. Or switch to Homebridge which makes it way easier to manage your devices.

[2021-02-22 21:33] erwinloh commented on #121
Ok, thanks for the prompt response.

[2021-02-23 15:30] jonpeng commented on #115
@donavanbecker
v3.2.0 fixed.

[2021-02-23 15:50] jonpeng commented on #114
@donavanbecker
Installed HB 1.3.0 and SB v3.2.0
The issue is still exist while fully open/close the curtain.

logs:
[2021-02-23, 8:34:43 a.m.] [SwitchBot] Sending request for Guest Room Curtain to SwitchBot API. command: setPosition parameter: 0,ff,5 commandType: command
[2021-02-23, 8:34:47 a.m.] [SwitchBot] Checking Guest Room Curtain Status ...
[2021-02-23, 8:34:47 a.m.] [homebridge-switchbot-o

[2021-02-23 18:29] donavanbecker commented on #114
did you recalibrate your curtains?

Also I have pushed a new beat to fix those warnings for the Curtain Position if you could test that to see if those still exist in the beta?

Beta: `3.2.1-beta.0`

[2021-02-23 18:36] jonpeng opened #122 "IR devices name change"
**Describe The Bug:**
IR devices can not keep the changed names in Home app. The names change back to the assigned names in SwitchBot app + device type every time HB is restarted.

**To Reproduce:**
1. Change name on any of the IR devices in Home app;
2. Restart Homebridge;
3. Check the device name in Home app.

**Expected behavior:**
The device name changed back to the original.

**Logs:**
N/A

*

[2021-02-23 20:27] jonpeng commented on #114
Recalibration doesn't fix the issue.
But beta 3.2.1-beta.1 fixed all issues including the warnings.
Well done!

[2021-02-23 20:45] donavanbecker commented on #114
@jonpeng nice! I will publish a version today when I can find time.

[2021-02-23 21:48] donavanbecker commented on #122
@jonpeng is this only happening with TVs?

[2021-02-23 21:59] jonpeng commented on #122
I only have TVs and lights. The lights are OK.

[2021-02-23 22:06] donavanbecker commented on #114
v3.2.1 is released.

[2021-02-23 22:06] #114 closed

[2021-02-23 22:07] donavanbecker commented on #122
so the lights keep their names but TVs don't?

[2021-02-23 22:31] jonpeng commented on #122
Yes, correct.

[2021-02-23 23:24] donavanbecker commented on #122
this is resolved in `v3.2.2`

[2021-02-23 23:24] #122 closed

[2021-02-23 23:54] jonpeng commented on #122
Awesome... All fixed!

[2021-02-24 06:07] erwinloh opened #125 "After most recent update, IR devices no longer showing up"
**Describe The Bug:**

I have 3 switch bots, and 2 hub minis (1 running a DIY TV, the other running a Samsung TV) - both IR TV switches were working in the previous plugin version.

I just updated to the most recent version, and for some reason the 3 switch bots are fine but both TV devices are no longer connected. I removed the two TV accessories from the Home app, to see if I can re-add them, bu

[2021-02-24 06:07] #125 closed

[2021-02-24 06:27] erwinloh commented on #125
Interesting, I'm getting all these errors in the log, that previously didn't exist, until I upgraded.

What's weird is that when I downgraded to a lower version, the problem still has not resolved.

[2021-02-24 07:28] Bgoshua commented on #125
The unhandled promise rejection in your logs points to you're node version being out of date with the current requirements

[2021-02-24 11:25] erwinloh commented on #125
Ok, I managed to restore from a previous backup which was running version 3.1.0 of the plugin, and it's all working fine. Thanks for all the feedback, I think I will stop upgrading from now.

[2021-02-24 13:31] tobiswelten opened #126 "Please support "device type: Others" - had to use this type for setting up my extractor hood in my kitchen"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-24 14:20] donavanbecker commented on #126
@tobiswelteni I could potentially do that but what do you want it to display as?

[2021-02-24 14:44] tobiswelten commented on #126
Hey,

That is great.
I trained the hub to turn on/off my extractor hood in the hood via infrared signals.
I think, in Homekit the closes you can get in terms of supported device types are „Fans“ - does that answer your questions?

[2021-02-24 15:44] donavanbecker commented on #126
@tobiswelten yes it does. So you just need on and off?

[2021-02-24 15:52] tobiswelten commented on #126
This is the main task, I also trained the hub to increase and decrease the fan speed but that is more P2.

[2021-02-24 16:20] donavanbecker commented on #126
can you take a screenshot of how it is setup in the switchbot app?

[2021-02-24 16:24] donavanbecker commented on #126
@tobiswelten have you tried just setting it up under fans? and just doing a Custom Fan? you should be able to do that in the SwitchBot App.

[2021-02-24 18:47] #126 closed

[2021-02-24 21:48] idoshimoni opened #128 "Bot devices stopped working after upgrade to v3.3.0"
After upgrade to latest build, my bot devices stopped working

[2/24/2021, 10:42:26 PM] [idoshimoni@gmail.com] {"statusCode":100,"body":{"deviceList":[{"deviceId":"D089A918E2B8","deviceName":"Living Room Hub Plus","deviceType":"Hub Plus","hubDeviceId":"000000000000"},{"deviceId":"D5109803D561","deviceName":"Intercom Bot","deviceType":"Bot","enableCloudService":true,"hubDeviceId":"D089A918E2B8"},{"

[2021-02-24 21:49] #128 closed

[2021-02-24 22:22] donavanbecker commented on #128
@idoshimoni You need to update to homebridge v1.3.0

[2021-02-24 23:21] jdegnan-ghub opened #129 "Curtains have disappeared"
Did the upgrade to latest version, curtains now disappeared. Tried to roll back and it still only picks up my button bots.

[2021-02-24 23:21] #129 closed

[2021-02-25 00:45] jdegnan-ghub opened #130 "Curtains Have Disappeared"
After being unresponsive after a few days, I went in to check status of curtains in homebridge. Though they were initially still there (and continued to be unresponsive) I then began to troubleshoot. When I tied upgrading the plugin, the curtains then totally disappeared.

Curtains no longer appearing as accessories despite being recognized by the plugin in the log.

Curtains had been working norm

[2021-02-25 01:22] donavanbecker commented on #130
Can you please fill out the full template? Need more info to troubleshoot.

[2021-02-25 08:11] jonzhan commented on #130
I also had a similar issue (curtains not responding) after updating to v3.0.0 and Homebridge v1.3.1 - for me it was fixed by adding

[code]

I don't remember the log message (and it is gone now), but it indicated that refreshRate was undefined or something similar.

I did **not** experience the same issue of the curtains not appearing as accessories, however.

[2021-02-25 08:15] jeroen020 commented on #130
I seem to have the same/similar issue since yesterday, when I (also) did a couple of updates to my Homebridge and the plugin. My curtains were no longer responding.
Strangely, I also get Switchbot-related errors in the log after a restart under another plugin (p1):

`[25/02/2021, 09:13:13] [P1] error: unhandled rejection: TypeError: Cannot read property 'refreshRate' of undefined
    at new Curtai

[2021-02-25 10:08] donavanbecker commented on #130
v3.3.2 should correct this. can all validate this?

[2021-02-25 10:32] jonzhan opened #135 "Air Conditioner IR always sets device to "Auto""
**Describe The Bug:**

Whenever setting an IR Air Conditioner to a temperature in HomeKit, the IR device sets the Air Conditioner to "Turn On, Auto, Auto"

**To Reproduce:**

1. Set temperature of Air Con through HomeKit, with the verbal command "set air conditioner to xx degrees"
2. Check Air Con logs in SwitchBot App - Air conditioner is always set to Auto
3. Repeat steps 1-2 using the SwitchBot

[2021-02-25 10:34] jonzhan commented on #135
Additional info: I tried setting `hide_automode` to `true` but that did not fix it!

[2021-02-25 11:04] jonzhan commented on #130
Updated to v3.3.2 and removed manual `refreshRate` setting, with this result

[code]

Works again after providing `refreshRate`!

[2021-02-25 11:24] jeroen020 commented on #130
Updated to 3.3.2 and restarted but still get this error 3 times (I have 3 curtains), logged under the [P1] plugin instead of the [SwitchBot] one:
`[25/02/2021, 12:18:32] [P1] error: unhandled rejection: TypeError: Cannot read property 'refreshRate' of undefined
    at new Curtain (/usr/local/lib/node_modules/homebridge-switchbot-openapi/src/devices/curtains.ts:104:53)
    at SwitchBotPlatform.crea

[2021-02-25 11:57] jdegnan-ghub commented on #130
Same - updated to 3.2.2. Still no curtains showing up.

Sent from my iPhone

[2021-02-25 12:08] willliamchan opened #136 "TypeError: this.service.getCharacteristic(...).setProps(...).onGet is not a function"
Error loading the plug-in since 3.3.1, same error with 3.3.2

25/02/2021, 20:02:17 [SwitchBot] Total SwitchBot Devices Found: 8
25/02/2021, 20:02:17 [SwitchBot] Total IR Devices Found: 0
25/02/2021, 20:02:17 [SwitchBot] Adding new accessory: Curtain Black Curtain DeviceID: C68AC659F332
25/02/2021, 20:02:17 [SwitchBot] Main Curtain: Curtain Black, DeviceID: C68AC659F332
25/02/2021, 20:02:17 [Switch

[2021-02-25 13:21] willliamchan commented on #136
Not sure what is happening and I had the plug-in uninstalled to allow hoobs back to normal.

[2021-02-25 13:41] donavanbecker commented on #136
@willliamchan You need to have homebridge v1.3.1 installed as the changelogs says.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-02-25 13:44] donavanbecker commented on #130
I need everyone to create their own issues and @jdegnan-ghub I need you to fill out the full issue template. Without know versions of plugin, homebridge, etc. I can't troubleshoot as well.

[2021-02-25 14:05] jonzhan commented on #130
Sorry if this is widely known - still not familiar with protocol. What is best for you? Do we fill out the issue template in a comment in this issue or in fresh duplicate issues? :)

[2021-02-25 14:19] donavanbecker commented on #130
if v3.3.3. doesn't work then everyone needs to do rest new tissues and fill it out completely so I can know their setup info.

[2021-02-25 15:03] jdegnan-ghub commented on #130
Done.

[2021-02-25 15:36] donavanbecker commented on #130
@jdegnan-ghub Thanks!! Are you getting the same logs as before?

[2021-02-25 16:55] donavanbecker commented on #130
@jdegnan-ghub can you try the new beta?

Beta: `v3.3.4-beta.0`

[2021-02-25 17:17] jdegnan-ghub commented on #130
yup! that fixed it! thank you!!!

[2021-02-25 17:17] #130 closed

[2021-02-25 17:20] donavanbecker commented on #130
@jdegnan-ghub Awesome! Also I would recommend setting your plugins up as child bridges so you can isolate your issues. I saw a lot of issues with the tp-link plugin, which can cause issues with other plugins.

[2021-02-25 19:30] jonzhan commented on #130
Thanks for this fix! :)

[2021-02-25 19:31] #136 closed

[2021-02-25 21:21] jbk1988 opened #138 "Curtain Stopped Working"
Hi,

Since the last three updates, my curtains have stopped working in HomeKit entirely. They worked perfectly before.

**To Reproduce:**

I tried to uninstall and reinstall the plugin.

**Expected behavior:**

I hoped that this would fix it, it did not.

**Logs:**

2/25/2021, 1:16:11 PM [SwitchBot] Restoring existing accessory from cache: Living Room Left Curtain Curtain DeviceID:
2/25/2021, 1:16

[2021-02-25 21:21] #138 closed

[2021-02-25 22:18] donavanbecker commented on #138
@jbk1988, You need to have homebridge v1.3.1 installed as the changelogs says.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-02-26 01:33] tjridge opened #139 "Broken"
Since the last few updates all my devices connected to switchbot have stopp responding/showing the correct status in the home app. Looking over the log there is no record of actions being taken when buttons are pressed within the home app. Worked great for a few weeks :(

[2021-02-26 01:33] #139 closed

[2021-02-26 08:26] peterfrying opened #140 "IR Features ported to HOOBS please"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-26 08:28] peterfrying commented on #140
Thank you very much for supporting HOOBS. I no longer need to use IFTTT and save hundreds of dollars over my life time. As a thank you, I will purchase more of your products for my family.

I would like to kindly ask if you can put IR blaster feature through HomeKit, even if it is a press only button, it is the one feature that I will need before I can lose IFTTT altogether.

Many thanks for all t

[2021-02-26 08:45] donavanbecker commented on #140
@peterfrying, You need to have homebridge v1.3.1.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-02-28 06:30] takoyaki860 opened #141 "Add Switchbot plug"
**Is your feature request related to a problem? Please describe.**

I want to use  Switchbot Plug with Homebridge

**Describe the solution you'd like**

Adapt Switchbot Plug to Homebridge

**Describe alternatives you've considered**

**Additional context**

[2021-02-28 08:12] donavanbecker commented on #141
@takoyaki860 Did the plugin n@ work for you?

[2021-02-28 08:47] takoyaki860 commented on #141
Switchbot plug is displayed in the log as " "deviceType": "plug" " and "message" is "success", but it isn't  displayed in Home App on iPhone.

[2021-02-28 12:49] donavanbecker commented on #141
Okay. I don't have one so can't test it, but I will add what I think will work and then can you test a beta version?

[2021-02-28 14:19] takoyaki860 commented on #141
Thanks! Where can I get that beta version?

[2021-02-28 17:24] donavanbecker commented on #141
@takoyaki860 I haven't released it yet. Once I do I will give you instructions. are you using Homebridge UI?

[2021-03-01 04:34] takoyaki860 commented on #141
Yes

[2021-03-01 18:10] donavanbecker commented on #141
okay new beta is out: I have a log that says `PLEASE POST THIS BACK INTO ISSUE TO GET INFO!` I need that info for the plug to update HomeKit with the correct info. Let me know if the plugin finds the plug now though?

Beta: `3.3.5-beta.0`

[2021-03-01 19:28] takoyaki860 commented on #141
Here is that

`PLEASE POST THIS BACK INTO ISSUE TO GET INFO! {"statusCode":100,"body":{"deviceId":"E0980683AA58","deviceType":"Plug","hubDeviceId":"E0980683AA58","power":"off"},"message":"success"}`

[2021-03-01 19:58] donavanbecker commented on #141
@takoyaki860 okay I just pushed out the finishing touches for the plug. can you give it another try with the new beta, make sure it updates correctly in the home app and try it out for a little and report back if all is well I will release a new version.

Beta: `3.3.5-beta.1`

[2021-03-02 05:36] takoyaki860 commented on #141
It's working properly!

Log says ` Sending request for <name> Plug to SwitchBot API. command: turnOn parameter: default commandType: command`.

[2021-03-02 12:45] donavanbecker commented on #141
@takoyaki860 Awesome! I will release an update today then! Thanks for Testing!

[2021-03-02 18:31] spadrille2 opened #145 "Device doesn't appear in Home app"
**Describe The Bug:**

I have a TV controled by IR with the Switchbot Hub Mini. The device is shown in Homebridge but not in the Home app. I don't know if that could be the problem but i see in the switchbot plugin settings that there is a device ID in the "Hide device" setting. If i remove it, save and open the setting again, the ID is still in the hidden devices.

**To Reproduce:**

 Always happ

[2021-03-02 20:03] donavanbecker commented on #145
@spadrille2 TVs are extern devices did you try adding the tv like you did homebridge when you first setup homebridge?

[2021-03-02 20:11] spadrille2 commented on #145
4m not sur i understand your question. I had Homebridge already with other devices. I added the the Switchbot plugin to control the TV with IR.

[2021-03-02 20:19] spadrille2 commented on #145
Do you mean that i should have been adding the TV to the Home app the same way i have added Homebridge to the Home app? Should i have scanned a QR code just for the TV? Where was i suppose to find this separate QR code? I'm sorry, i'm really not sure about what you mean?

[2021-03-02 21:01] donavanbecker commented on #145
its the same QR code that you used to scan homebridge and yes you add it the same way as you added it to homebridge.

[2021-03-02 21:07] spadrille2 commented on #145
If i scan with the Home app the QR code that is shown in Homebridge, the Home app tell me that i have already add this accessory, which is Homebridge. I don't understand. How the same QR code could be both the Homebridge and a TV? I think we don't understand each other.

[2021-03-02 21:11] donavanbecker commented on #145
@spadrille2 no I understand you. Click `I Don't Have a Code or Cannot Scan` then you will see your tv, click it, and then click scan with camera (or something like that.)

[2021-03-02 21:17] spadrille2 commented on #145
OK. I have tried that. After i have clicked on "i have no code", it show me two different Homebridges ( i didn't knew it could be possible). Then i choose one of the Homebridges and i select "use photo" but i have an error "Impossible to add accessory". I have tried on both Homebridges.

[2021-03-02 21:27] spadrille2 commented on #145
Maybe i should have mention that before having the problem of the accessory not showing up in the Home app, i had managed to have it show up in a previous try. I just added the plugin to the bridge and the accessory showed up in the Home app without any new QR code scanning. But the problem is that in the Home App, there was an error message saying that this accessory couldn't be used in Home. I d

[2021-03-02 21:31] spadrille2 commented on #145
Is there anything i should change in the default settings in `IR Device Settings`?
Is that normal that i have a device ID in the `Hidden Devices` settings?

[2021-03-02 22:19] donavanbecker commented on #145
not on reinstall, if it is `02-202103021441-44998279` delete it.

[2021-03-02 22:19] donavanbecker commented on #145
you may also have to reset the pairing of the TV, are you using Homebridge UI?

[2021-03-02 22:25] spadrille2 commented on #145
The ID in the Hidden device is 81F3UT59513F (so, not 02-202103021441-44998279). Anyway, it seems that i can't delete it. It reappears after saving.
Yes i am using Homebridge UI.
When you tell me to reset the pairing of the TV, do you you mean the pairing inside the Switchbot app? Because i already tried to delete the devices inside the Switchbot app and even create a new Switchbot account. That di

[2021-03-02 22:33] donavanbecker commented on #145
@spadrille2 I don't know why you would try all that but that could potentially mess a lot up.

there is a setting in Homebridge UI, here you should see your tv and should be able to reset the pair and then re add like I mentioned above.
<img width="221" alt="Screen Shot 2021-03-02 at 4 32 20 PM" src="https://user-images.githubusercontent.com/9875439/109724219-de3e9c00-7b74-11eb-8193-555707341027.p

[2021-03-02 22:44] spadrille2 commented on #145
I realize that i still have a lot to learn about Homebridge (i'm a newbie). I had a lot of my "old devices" from my previous tests in the list of external accessories. I have deleted everything except Homebridge and restarted. Now i just have Homebridge and my TV listed. But nothing new appears in the Home app. Do i need to try to add the TV in the Home app with the QR code as you suggested earlie

[2021-03-02 23:09] donavanbecker commented on #145
yes but you will have to click the I don't have a code

[2021-03-02 23:14] spadrille2 commented on #145
I have selected "i dont have a code", then i have choosen one of the 2 Homebridges instances, then i have entered the code that is in the status page, under the QR code. It gives me an error message saying that my code is incorrect, same if i scan the QR code.

[2021-03-02 23:17] donavanbecker commented on #145
It's not going to show up as a homebridge instance, it will show up as a TV.

[2021-03-02 23:18] donavanbecker commented on #145
turn devicediscovery off, that is only needed for new devices....

[2021-03-02 23:20] spadrille2 commented on #145
It doesn't. Here is what i see. (sorry, it's in french)
![IMG_25E982474380-1](https://user-images.githubusercontent.com/63778769/109728291-2f22b480-7bb6-11eb-8aed-a738a9cf3b88.jpeg)

[2021-03-02 23:21] spadrille2 commented on #145
Device discovery is already off.

[2021-03-02 23:44] spadrille2 commented on #145
Another thing I should have mentionned. Right now I’m not near the Switchbot hub. I’m in a remote place making adjustments to Homebridge thru VNC. When I tried to scan a the QR code it is with my iPhone that have authorization to add accessory to my HomeKit setup. But I’m not physically near this installations. Does it have any consequence in the TV not showing up as an accessory when I try to pai

[2021-03-03 01:03] donavanbecker commented on #145
Yes! Wait till you get to your location...

[2021-03-03 21:08] spadrille2 commented on #145
Yes ! That was it ! It works now. Thank a lot for your help.
Maybe just a last question. The power button on my TV remote is a toggle ON-OFF. So, sometimes, the TV is on but Home think its off, or the opposite. Is there anyway to make Home know what is the real state of the  TV?

[2021-03-03 23:18] donavanbecker commented on #145
@spadrille2 Since it is IR and IR is only a 1 way signal. No there isn't. If there was I would definitely implement it.

[2021-03-03 23:18] #145 closed

[2021-03-04 15:36] takoyaki860 opened #146 "Frequent plug status checks"
**Describe The Bug:**

Switchbot Plug is checked for its status every five minutes, and it goes on forever.

**To Reproduce:**

If Switchbot Plug is registered, it will start automatically.

**Expected behavior:**

**Logs:**

[code]

(deviceId and hubDeviceId have been replaced with <--deviceID--> and <--hubID--> .)

**Homebridge Config:**

[code]

**Screenshots:**

**Device Model:**

# **Environm

[2021-03-04 16:58] donavanbecker commented on #146
@takoyaki860 Do you have any other SwitchBot devices?

This is normal because it is the default refresh rate. It needs to look for any changes. If you don't have any other SwitchBot devices you could set your refreshrate to a higher rate so that it doesn't look so often.

[2021-03-04 21:42] SimonLawson70 opened #147 "Errors with Homebridge 1.3.2"
**Describe The Bug:**

Since the Homebridge 1.3.2 update, I’m seeing error 500 showing in the logs, and also a failure to get the curtain state.

This error is only happening with the Curtain pair, my ‘Bot seems to be fine.

I have tried deleting the cached accessory and restarting Homebridge but the error comes back. The curtains still show up in the Home app but the state doesn’t seem to be upda

[2021-03-04 22:21] donavanbecker commented on #147
@SimonLawson70 [SwitchBotAPI standard-http-error-codes](https://github.com/OpenWonderLabs/SwitchBotAPI#standard-http-error-codes)

[2021-03-04 22:32] #141 closed

[2021-03-04 22:32] #140 closed

[2021-03-04 23:48] nyjklein opened #148 "401 errors occur spontaneously"
**Beginning sometime last week I started getting 401 errors (unauthorized from the API). It seems to have started after the Homebridge upgrade to 1.3.0. I have not changed the default refresh rate of 300 seconds and everything was stable with no new devices added or changed for a couple of weeks before this started happening. I've had several occurrences but I was hoping some updates would fix it.

[2021-03-05 10:33] takoyaki860 commented on #146
I have switchbot curtain too, but the status of that is not always recorded.

Okey, I understand.

[2021-03-05 12:38] #146 closed

[2021-03-07 17:55] DJay-X commented on #148
I was wondering my SwitchBot Curtain not start closing with an automation.
I noticed in the Log also..

[7.3.2021, 18:49:50] [SwitchBotAPI] Failed to Discover Devices. "Request failed with status code 401"

Tokes is the same as always and SwitchBot App is showing Hub online and all devices connected to the cloud.

I can't use all the devices at the moment with Homebridge.
@donavanbecker Any sugges

[2021-03-07 21:36] nyjklein commented on #148
While waiting for response, please note that once you get the 401 error, the only resolution is to wait some number of hours (sometimes overnight) for the server API to reset. Then when you re-cycle the Homebridge, you should be back in action.

Jeff

[2021-03-07 22:03] donavanbecker commented on #148
You have your refreshRate to low

[2021-03-07 22:54] nyjklein commented on #148
I'm not sure who you were responding to. My refreshrate is at the default (300 seconds) and I haven't changed it.

Jeff

[2021-03-07 22:55] jonpeng commented on #148
I had to set my refeshRate at 1200 to solve this problem. I have 10 curtain bots and 2 meters.

[2021-03-07 23:04] donavanbecker commented on #148
This is for everyone, even if you have default and have a lot of devices you may get 401 if you have a lot of devices. If you you want to try local control for some of the devices and use this for others. The homebridge-switchbot-ble is good for that.

[2021-03-07 23:22] nyjklein commented on #148
I guess I can try upping my refreshrate but I don't have a lot of devices: one pair of curtain bots, 2 meters and one humidifier.

[2021-03-08 02:00] donavanbecker commented on #148
1 more meter then I have which can make a difference. Let me try and implement something, and push it out and see if it helps.

[2021-03-08 08:23] DJay-X commented on #148
Thanks you guys for discussing.
My refresh rate is since day one 300. I never had this 401 issue before.
2 Curtain and 6 Bots.
However, the waiting over night and reboot homebridge in the morning fixed the problem for now.
Thanks @donavanbecker for ongoing optimisation where possible.

[2021-03-08 11:14] #135 closed

[2021-03-08 16:22] ptrvg opened #154 "IR Control of a Speaker setup in Homebridge"
IR Control of a Speaker setup in Homebridge

I have setup ir control with a hub mini for a speaker in the Switchbot app. I enabled device discovery in the Homebridge Plugin. It found the device and I added it to Homekit with the setup code.

The device in Homekit only allows me to turn it on and off.

In the Homebridge UI there are two accessories listed. The first is listed as a TV and is active

[2021-03-08 16:23] #154 closed

[2021-03-08 17:57] donavanbecker commented on #148
I have pushed out a new beta if you could give it a try:  `v3.4.1-beta.3`

[2021-03-08 19:28] nyjklein commented on #148
Donavon, I can test the beta. But is there anything in particular I should try or look for. I haven't gotten the 401 errors again since I opened this issue on 4/3.

Jeff

[2021-03-08 19:41] nyjklein commented on #148
Whoops! Curtain broken completely in the beta3 release. After restart, status says closed when the curtain is open. Click on the curtain, status changes to opening but never completes. Went back to the current release.

[2021-03-08 20:43] donavanbecker commented on #148
@nyjklein yeah same here. I think I am just going to leave it as is. And change the default refresh rate to be a little higher and others can lower it if they want.

[2021-03-08 21:02] nyjklein commented on #148
Thanks! That works for me. Other than this small glitch which was intermittent anyway and likely solved by upping the refresh rate, the plugins been very stable and reliable.

[2021-03-08 21:07] donavanbecker commented on #148
@nyjklein thanks!

[2021-03-08 21:38] #147 closed

[2021-03-08 21:38] #148 closed

[2021-03-08 21:39] donavanbecker commented on #148
v3.4.1 released

[2021-03-08 21:39] donavanbecker commented on #147
v3.4.1 released

[2021-03-08 22:29] Kohle81 opened #156 "Bug with DIY TV - Volume changing doesn‘t work"
**Describe The Bug:**
Since I habe updated homebridge to version 1.3.2 the DIY TV can switch on, but when I want to change volume, the TV is going out.....

I am on plugin version 3.4.0

**To Reproduce:**

**Expected behavior:**

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**
![094A88D7-9304-4C7F-9019-9CCBFFA2C7F1](https://user-images.githubusercontent.com/33038709/110390327-1

[2021-03-08 22:31] donavanbecker commented on #156
@Kohle81 what do you mean by going out?

[2021-03-09 01:36] btcdtc opened #157 "Option to disable current temperature for air conditioner"
**Describe The Bug:**
AC without temperature sensor will use last temperature setting as current temperature
homekit regnoize it as temperature seño

**To Reproduce:**

**Expected behavior:**
do not show as a temperature sensor in HomeKit

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

![スクリーンショット 2021-03-09 10 39 02](https://user-images.githubusercontent.com/9072036/11040535

[2021-03-09 03:05] Kohle81 commented on #156
When the diy TV is activated and I try to increase the volume via the apple remote (see picture above), the Switchbot Hub also sends an IR signal to switch off the TV.  However, the DIY TV is still shown as activated in Homekit.

[2021-03-09 03:42] donavanbecker commented on #157
Current Temperature is a [Required Characteristics](https://developers.homebridge.io/#/service/HeaterCooler)

[2021-03-09 03:42] #157 closed

[2021-03-09 09:32] mrtmsmith89 opened #158 "Air Conditioner connected via hub mini - expecting response"
**Describe Your Problem:**

I've got an airconditioner connected through the switchbot app via the hub mini, so obviously the hub mini can use IR to control it. Homebridge is expecting a response from the air conditioner, but as far as I'm aware because it's only IR control this won't happen.

**Logs:**

[code]

**Homebridge Config:**

[code]

**Device Model:**

RPI 3B+

# **Environment:**

- **No

[2021-03-09 12:25] donavanbecker commented on #158
You need to have homebridge v1.3.1 installed.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-03-14 12:25] beatpaul opened #161 "Switchbot Curtain parameters for Shortcuts"
**Is your feature request related to a problem? Please describe.**

 Hi!
I would really like to use the switchbot Curtains with Shortcuts commands.
e.g. i would like to program my wall switch that if a button is pressed:
`if curtain is open --> close it --> else --> open it`

The problem is, there are no useful parameters available in the shortcuts app

**Describe the solution you'd like**

Could

[2021-03-14 12:25] #161 closed

[2021-03-14 12:53] beatpaul commented on #161
@donavanbecker

Hi! Could you reopen / take a look at this issue please

Here is a screenshot using Shortcuts
![IMG_2678](https://user-images.githubusercontent.com/33185643/111069186-39a15000-84cc-11eb-902f-85ed459f81b4.png)

No options are available:

![IMG_2679](https://user-images.githubusercontent.com/33185643/111069197-402fc780-84cc-11eb-9efb-fb7578366f0f.png)

thx for this great plugin

[2021-03-15 00:21] donavanbecker commented on #161
@beatpaul I guess I'm not sure if that's something in my control to add. Also if issue templates are used and nothing is erased this issue would have stayed open.

[2021-03-16 12:27] DigitalDeity opened #162 "Getting Current Position for Curtain Bot is blank, does not include information."
**Describe The Bug:**
When creating a Siri Shortcut for Curtain Bot I was looking to get the current position and use that as a condition (i.e. Only run if Curtain Bot Current Position is Closed/Open).

When getting current position in Siri Shortcuts for a Curtain Bot I only get blank results.

**To Reproduce:**

1. Create Siri Shortcut
2. Add "Get the state of "Home""
3. Select Curtain Bot
4. Sel

[2021-03-18 19:37] ucfhall opened #164 "Curtain always moves in silent mode even when set to performance mode"
**Describe The Bug:**
When closing a curtain using the plugin, either via Alexa or HomeKit, the curtain moves at silent mode even when set to performance mode in the Switchbot app.

**To Reproduce:**
Add curtain to Switchbot app and set to Performance Mode. Add to Homebridge. Attempt to open or close curtain.

**Expected behavior:**
Curtain moves at silent mode even when set to performance mode in

[2021-03-18 22:56] ucfhall commented on #164
I saw that…I didn’t say it wasn’t sending the command, I’m saying that regardless the output is not expected. The curtain doesn’t move at that speed.

[2021-03-18 23:02] donavanbecker commented on #164
@ucfhall i don't feel like it's a plugin issue then

[2021-03-20 04:19] #156 closed

[2021-03-20 14:20] #158 closed

[2021-03-20 14:57] dickman138 opened #165 "multi switches shown in homekit"
Hi,
I only got ONE press bot but homekit shown totally 3 switches on the home app.

I can control the bot with one of them but the other two are not working.

I have deleted the switch bot at the advanced setting but same not success.  An bot id not belong to me shown and i cannot deleted it.

I only add my press bot id successfully at the advanced setting.

Need your help to remove the excess swi

[2021-03-20 15:08] donavanbecker commented on #165
I am going to close this issue since you haven't filled out all the fields for me to be able to troubleshoot your issues.

[2021-03-20 15:08] #165 closed

[2021-03-26 14:02] DigitalDeity commented on #162
Bumping it to prevent automatic closure.

[2021-03-27 09:15] a-iac opened #166 "Warning message shown"
Hi,

I get this warning

[3/27/2021, 11:11:12 AM] [homebridge-switchbot-openapi] This plugin generated a warning from the characteristic 'Current Temperature': characteristic value expected valid finite number and received "NaN" (number). See https://git.io/JtMGR for more info.

Is there anything I can do about this?

Thank you.
AIAC

[2021-03-27 09:16] #166 closed

[2021-03-27 09:21] a-iac opened #167 "Warning message shown"
**Describe Your Problem:**

Hi, I started getting the below issue:

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

**Device Model:**

Macbook Pro, MacOS 10.15.7

# **Environment:**

- **Node.js Version**: v14.16.0
- **NPM Version**: 7.7.5
- **Homebridge Version**: 1.3.4
- **Homebridge SwitchBot Plugin Version**: 3.4.1
- **Homebridge Config UI X Plugin Version**: 4.41.0
- **Op

[2021-03-27 13:38] donavanbecker commented on #167
@a-iac I will need you to fill out the full issue template for me to be able to understand where this is being generated at.

[2021-03-27 16:01] a-iac commented on #167
I have updated the post. Hopefully I have included everything needed. Thank you.

[2021-03-29 23:19] #164 closed

[2021-03-31 09:58] napoleon86 opened #168 "Unable to register new device"
Unable to register device. What am i doing wrong?

Starting to advertise 'Homebridge 12A6 C5A9' using bonjour-hap backend!
[3/31/2021, 9:53:03 AM] Homebridge v1.3.4 (Homebridge 12A6) is running on port 51640.
[3/31/2021, 9:53:03 AM] [SwitchBot] {"statusCode":100,"body":{"deviceList":[{"deviceId":"CD5F4C48E84E","deviceName":"Gordijn slaapkamer links","deviceType":"Curtain","hubDeviceId":"0000000000

[2021-03-31 09:58] #168 closed

[2021-03-31 22:00] joecan00 opened #169 "Curtain Shows Works, Bots Show Up in HK But Don't Work"
Not a bug, just need help.

This is likely because I'm doing something wrong, but I can't seem to get my Bots to work in HomeKit. Both Curtains show up and work but the button bots just show up but don't work in HomeKit or the HomeBridge UI.

What am I supposed to be using as the DeviceID? Is it just the name I've give the bot?

[2021-03-31 22:00] #169 closed

[2021-03-31 23:01] joecan00 commented on #169
It's a question. What is the DeviceID... what's the answer?

[2021-03-31 23:05] donavanbecker commented on #169
@joecan00 Follow issue template in the future.

DeviceID is in logs

[2021-04-01 07:48] ahmadnazirafiq opened #170 "STB Remote Missing Volume Controls, Fans Remote Missing Rotation Speed Controls"
**Describe The Bug:**

I've added a new Set-Top-Box remote using SwitchBot Hub mini, complete with custom on/off and volume controls. However, only the Power button appears on the Home app. Same issue with IR-based fans; I'm not seeing rotation speed controls on the Home app despite adding each speed button manually in SwitchBot app

**To Reproduce:**

1. Launch SwitchBot app > Hub Mini > Add Remo

[2021-04-06 10:47] mayhew132 commented on #48
Just in case anyone like me has an extra 'C9 Curtain' appearing on their HomeKit setup and wants to know where to put the 'device ID' in Hoobs so that it is removed see below for a screen grab on where you should put the Device ID, surrounded by double quotes:
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/25966969/113699662-c905e180-96cd-11eb-8d00-bc1562a98cbd.png">

[2021-04-06 12:42] donavanbecker commented on #48
@mayhew132 , I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-04-06 12:44] mayhew132 commented on #48
Thanks - I used to use HomeBridge, but moved to Hoobs in a Docker image as I find GUI's easier to use (I used to break my HomeBridge install by using the wrong bash commands!)

[2021-04-06 14:19] #162 closed

[2021-04-06 17:01] donavanbecker commented on #48
@mayhew132 Homebridge does have a UI

[2021-04-06 17:03] mayhew132 commented on #48
Thanks - I'll have a look if I come across any problems with Hoobs!

[2021-04-11 08:23] ahmadnazirafiq commented on #170
Keeping this alive.

[2021-04-11 18:28] #167 closed

[2021-04-14 14:38] lakmuse commented on #145
Hi, I can't seem to find my curtains either.

The setup seems OK otherwise (they appear in Homebridge and they work if controlled from there), but I just can't make the curtains appear when I try adding them in Home app. I'm right next to the Mini hub and scanning devices in the list.

Also tried rebooting Homebridge + removing Cached accessories in Homebridge settings. I also tried rebooting iPho

[2021-04-15 18:40] lakmuse commented on #145
OK solved it myself. Deleted all content from accessories & persist folders, and set Switchbot up with a separate bridge after renaming it. Now all devices appeared!

[2021-04-16 16:02] gvssr commented on #83
I'm also getting this error, is there any solution known?

[2021-04-16 20:41] DJay-X opened #171 "Support for upcoming Contact Sensor and Motion Sensor"
@donavanbecker I hope you are doing well.
Any plans to integrate the soon upcoming new SwitchBot Contact Sensor and Motion Sensor.
Does the API already support it?
I should receive some devices early May so of course I'm happy to help testing the plugin with the new devices.
Please let me know. The [community](https://forum.smartapfel.de/forum/thread/3720-switchbot-smart-home-ger%C3%A4te-mit-und-o

[2021-04-16 20:41] #171 closed

[2021-04-18 04:40] henhenb opened #172 "Switchbot button presser does not work in homekit"
**Switchbot button presser does not work in homekit**

**Logs:**
**Homebridge Config:**
[4/18/2021, 12:30:12 PM] [SwitchBot] "Bot Device Paramters not set for this Bot."

![image0 (1)](https://user-images.githubusercontent.com/82744300/115134703-1165bd80-a045-11eb-8d45-12b856f7c9e8.png)
 I have downloaded homebridge and some devices work probably on homekit. However, no matter how I press the butt

[2021-04-21 14:22] Aekung opened #173 "Pulling current temperature from Switchbot Meter and carry it over to Switchbot Hub IR Air Conditioner."
**Is your feature request related to a problem? Please describe.**
Not really a problem. It's just weird to see the temperature in air conditioner from switchbot hub mini shows the last temperature instead of real room temperature. I understand that Switchbot Hub Mini doesn't have temperature sensor and humidity sensor, but since Switchbot Meter has these data, can we pull the data from Switchbot

[2021-04-21 14:22] #173 closed

[2021-04-22 09:19] #170 closed

[2021-04-26 19:37] rkanumul opened #175 "Toggle for Switch mode"
**Is your feature request related to a problem? Please describe.**
I'm trying to use my flic button for turning on/off my fan(OG switch)
But I need to assign 2 different actions (double click/hold) for (on / off) respectively.

This is also hard to explain to people who are supposed to use this as my hue lights support toggle via flic. so I can just say click for light and its intuitive that click

[2021-04-28 00:26] therealmysteryman commented on #83
Same error

[2021-04-29 06:21] #172 closed

[2021-04-30 18:36] chinedu40 opened #176 "Curtain commands don't work in homekit"
**Describe The Bug:**

When trying to control the curtains in homekit, using the slider or press the buttons nothing happens to the curtains.

**To Reproduce:**

Try to control the curtain in homekit.

**Expected behavior:**

I expect the curtains to move.

**Logs:**
[4/30/2021, 6:28:13 PM] [SwitchBot] Curtain Living Room Curtain Curtain - Set TargetPosition: 0
[4/30/2021, 6:28:13 PM] [SwitchBot]

[2021-05-01 08:53] #176 closed

[2021-05-03 01:27] ronniemies opened #179 "Hide Humidifier Humidity Sensor"
**Is your feature request related to a problem? Please describe.**

I am unable to remove the humidity sensor from the accessory, only temperature is removable.

**Describe the solution you'd like**

A Hide Humidifier's Humidity Sensor Option

**Describe alternatives you've considered**

None.

**Additional context**

[2021-05-04 13:24] ynny1625 commented on #9
Could you please tell me how to write config.json for switchbot hub?

[2021-05-04 13:45] kozy0227 opened #180 "Invalid setAll API parameter"
**Describe The Bug:**

I tried changing the air conditioner settings. At that time, I found that the parameter of setAll API had an invalid value.
Normally, integer values ​​of temperature, mode, fanspeed, and powermode should be specified, but they are all "%s".

**To Reproduce:**

Changing air conditioner setting from HomeKit (e.g. cool to heat).

**Expected behavior:**

The correct value is set

[2021-05-07 21:15] #175 closed

[2021-05-09 17:26] Cyrille556 opened #181 "Difficulties in bringing up the options of my fan IR"
Hello, I am unable to go up in the homekit Optional Rotation Speed
Optional Swing Mode
for my fan

[2021-05-09 17:26] #181 closed

[2021-05-09 23:56] gromiiiit opened #182 ""Unable to Register new device" error and devices not showing up"
**Describe Your Problem:**

I'm receiving "Unable to Register new device" errors and SwitchBot devices are not showing up under devices/in Homekit.
All devices (Hub, Curtain, Remote, Meter) show up OK in the SwitchBot app and show as Online.

**Logs:**

[10/05/2021, 01:44:31] [SwitchBot] {"statusCode":100,"body":{"deviceList":[{"deviceId":"DF1CEED21DBE","deviceName":"Thermo-Hygrometer","deviceType

[2021-05-11 15:38] Damianeq90 opened #183 "Curtains, the Touch & Go function does not report"
Hello,

I have SwitchBot (V.3.1) curtain, and HUB (v.1.7-1.9)
I also have HomeBridge.

The problem is that HomeBridge does not refresh the manually moved curtain (Touch & Go),

I noticed that the status is reported after turning on the SwitchBot application on the iPhone and after refreshing the data, then these are sent to HomeBridge

Is there any way to automate the status update from Touch & Go

[2021-05-11 15:38] #183 closed

[2021-05-11 18:20] Damianeq90 opened #185 "Curtains, the Touch & Go function does not report"
Hello,

I have SwitchBot (V.3.1) curtain, and HUB (v.1.7-1.9)
I also have HomeBridge.

The problem is that HomeBridge does not refresh the manually moved curtain (Touch & Go),

I noticed that the status is reported after turning on the SwitchBot application on the iPhone and after refreshing the data, then these are sent to HomeBridge

Is there any way to automate the status update from Touch & Go

[2021-05-11 18:20] #185 closed

[2021-05-13 18:42] Damianeq90 opened #187 "There is no status update for the Touch & GO curtains"
Without refreshing (scrolling down with your finger) the data in the iPhone SwitchBot application, the system does not report manual closing / opening of the curtains in the Touch & GO option

Without refreshing (scrolling down with your finger) the data in the iPhone SwitchBot application, the system does not report manual closing / opening of the curtains in the Touch & GO option

I would like t

[2021-05-13 18:42] #187 closed

[2021-05-14 22:27] kozy0227 commented on #180
Keeping this alive.

[2021-05-21 00:56] #182 closed

[2021-05-22 04:27] mcfung commented on #182
@gromiiiit i encountered this problem too but it worked for we after I enabled cloud service in app (curtain in my case)

[2021-05-24 19:12] gielk commented on #180
Having the same problem

`[24/05/2021, 21:09:06] [SwitchBot] Device internal error due to device states not synchronized with server. Or command fomrat is invalid.
[24/05/2021, 21:09:08] [SwitchBot] Sending request for Airconditioning  Air Conditioner to SwitchBot API. command: setAll parameter: %s,%s,%s,%s commandType: command
[24/05/2021, 21:09:08] [SwitchBot] Air Conditioner Airconditioning  Ai

[2021-05-29 20:47] gromiiiit commented on #182
@mcfung thanks, that solved the problem!

[2021-05-31 07:53] yiskang commented on #180
Same here

[code]

[2021-06-05 04:36] Razeeer opened #191 "config.json example ?"
Hello, I would like to use the plugin to add an other device with multiple commands. Unfortunately I can't find anywhere a concrete example how the config.json has to be structured.

From the config.schema.json I can't really figure it out.

Would it be possible that someone shows me an example or that is included in the plugin description?

Or did I overlook something?

Thanks!

[2021-06-05 04:36] #191 closed

[2021-06-05 04:42] Razeeer opened #192 "config.json example ?"
**Describe Your Problem:**

Hello, I would like to use the plugin to add an other device with multiple commands. Unfortunately I can't find anywhere a concrete example how the config.json has to be structured.

From the config.schema.json I can't really figure it out.

Would it be possible that someone shows me an example or that is included in the plugin description?

Or did I overlook something?

[2021-06-05 14:20] saphierr opened #193 "Curtains do not open or close, but its state is reported correctly"
**Describe The Bug:**
Curtains no longer respond to open/close commands from homebridge UI or home app on iOS. Closing from the SwitchBot app works fine, and the status change is accurately reflected (i.e. homebridge will successfully receive the status as "Closed" after the curtains have closed using the app)

Tried reinstalling the plugin/purging cache, and regenerating API key but doesn't seem

[2021-06-06 17:59] #192 closed

[2021-06-06 19:26] Nastras opened #194 "Custom switch for other device"
**Additional context**

In the Switchbot app it is possible to learn multiple commands for Other devices. Would it be possible to display in HK these additional commands on the device as custom switches via the plugin?

[2021-06-06 19:26] #194 closed

[2021-06-07 08:43] Nastras opened #195 "Additional custom switch for other device"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

In the Switchbot app it is possible to learn multiple commands for other devices. Would it be possible to display in HK these additional commands on the device as custom switches via the plugin?

**Describe alternatives you've considered**

**Additional context**

[2021-06-07 09:16] Nastras opened #196 "Other Device - No Device Type Set at first homebridge start"
**Describe The Bug:**

I have a Switchbot Hub mini. Through this I have connected another device as a fan.
When Homebridge starts for the first time I get the error "No Device Type Set" in the journalctl. This removes the features from the device in HomeKit and the device no longer has a switch.
After restarting Homebridge the error disappears and everything works as it should.

**To Reproduce:**

[2021-06-08 12:27] epikbeat opened #197 "Device internal error due to device states not synchronized with server. Or command fomrat is invalid"
**Describe Your Problem: Can't adjust the temperature of the air conditioner

[6/8/2021, 9:24:05 PM] [SwitchBot] Sending request for 에어컨 Air Conditioner to SwitchBot API. command: setAll parameter: %s,%s,%s,%s commandType: command
[6/8/2021, 9:24:05 PM] [SwitchBot] Air Conditioner 에어컨 Air Conditioner pushChanges - {"commandType":"command","command":"setAll","parameter":"%s,%s,%s,%s"}
[6/8/2021, 9:

[2021-06-09 07:02] #197 closed

[2021-06-09 19:17] dmote75 opened #198 "Meter Temperature reading wrong for Fahrenheit"
**Describe The Bug:**
The temperature for the meter in Apple Home is showing incorrect temp. It seems it's converting from Celsius to Fahrenheit twice. In the SwitchBot app it shows 64.9 F but in Apple Home it shows 149 F. If I change the display of the Meter to Celsius, then the temp matches in both locations. Only issue is displaying Fahrenheit.

**To Reproduce:**

**Expected behavior:**
Apple H

[2021-06-10 08:19] kozy0227 commented on #180
Keeping this alive.

[2021-07-09 10:17] #196 closed

[2021-07-09 10:17] #195 closed

[2021-07-09 18:42] donavanbecker commented on #198
@dmote75 , I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-07-09 18:43] donavanbecker commented on #180
@kozy0227, can you test the latest beta and let me know if this is working now?

[2021-07-09 19:36] dmote75 commented on #198
Thanks. I'll give it try when I can. Not sure how soon I'll have time to do the process.

[2021-07-10 04:48] kozy0227 commented on #180
The problem has been resolved.
However, it seems that the parameters do not change even if the setting is changed.
Even if I change from cooling to heating from my iPhone, the parameter remains "26,1,1,on".
The expected value is to be "26,5,1,on".

[code]

[2021-07-14 11:16] #198 closed

[2021-07-14 11:17] donavanbecker commented on #198
Also remove `"unit": 1,` from under your meter config

[2021-07-14 11:18] donavanbecker commented on #179
I am going to close this. If this is still happening open new issue under bug template and fill in all info so that I can better understand your situation.

[2021-07-14 11:18] #179 closed

[2021-07-14 15:03] dmote75 commented on #198
That did it! HomeKit shows the exact same temp as in the SwitchBot app.
Thanks!!!

[2021-07-14 19:08] donavanbecker opened #225 "Add Contact and Motion Sensor Support"
Is your feature request related to a problem? Please describe.

be able to get notifications from contact and motion sensor in the Home App.

Describe the solution you'd like

Add contact and motion sensor into Home App as their own accessories.

Describe alternatives you've considered

Additional context

[2021-07-21 04:30] ndbroadbent commented on #180
Hello, I just installed the `beta` branch as well, and it's also working much better (no more `%s`). But I think that some of the arguments are wrong for me as well.

[code]

I'm having problems getting this to work from the "Home" app on iOS, and also a thermostat control in Home Assistant.

I am also seeing a lot of "IR errors" in the logs when I look at the SwitchBot app:

![IMG_1122](https://u

[2021-07-21 04:32] ndbroadbent commented on #180
There is also another problem showing up in the logs:

[code]

[2021-07-21 05:47] ndbroadbent commented on #180
@kozy0227 Can I ask, how do you know that it should be `26,5,1,on`?  Can you share how you found that `5` is the correct value?

I've noticed that the source code just has:

[code]

But these constants don't have any value, so they are just `undefined`. So `this.CurrentARMode = this.CurrentMode || 1;` will always be `1`

[2021-07-21 05:51] ndbroadbent commented on #180
Sorry I found it in SwitchBotAPI: https://github.com/OpenWonderLabs/SwitchBotAPI#command-set-for-virtual-infrared-remote-devices

[code]

[2021-07-21 08:54] ndbroadbent commented on #180
These are the changes I need to make to get `homebridge-switchbot-openapi` fully working with my Home Assistant installation: https://github.com/ndbroadbent/homebridge-switchbot-openapi/commit/ca21a5840d32e1f454d2eeff037c337c16c9b17d#diff-a49ffa08fed4e32fd2f17d0a57416b393c20c51fb9a31bc1f729715d104b9e90

I defined the values for the constants, which were previously `undefined`:

[code]

I also need

[2021-07-22 09:42] pc2000-10 opened #236 "The position of the curtain is shifted by 1%."
**Describe The Bug:**
When I close the curtains in the Home app, they become "closed", but after a while, the Home app shows "1% open"; the SwitchBot app side is fine, and I checked the logs, but could not find any curtain movement logs.

**To Reproduce:**

Keep the curtain closed with Home app.
Wait for a certain amount of time.

**Expected behavior:**
Curtains in the Home app will show "1% open"

[2021-07-22 18:52] TristanBrotherton commented on #225
Another vote for this addition. I'd love to get my contact sensors into homebridge - Thank you for all your hard work.

[2021-07-22 19:19] donavanbecker commented on #225
@TristanBrotherton once the api supports it then I will merge the pending pull request and we will be able too.

[2021-07-22 19:20] TristanBrotherton commented on #225
You guys rock. Thank you

[2021-07-26 07:45] Dakvar commented on #236
I have the exact same issue and it's driving me nuts!

[2021-08-05 14:48] frimar75 opened #255 "indoor cam not supported"
{"deviceId":"bfb4d6d36c1ab66d74vbte","deviceName":"IndoorCam","enableCloudService":true,"hubDeviceId":"FFFFFFFFFFFF"}

"Device: Indoor Cam with Device Type: undefined, is currently not supported."

I wish it would be supported ;)

Greets

frimar75

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

[2021-08-12 08:58] andrewsfchoi commented on #236
Same here, same exact issue.

[2021-08-12 11:33] donavanbecker commented on #236
There is an option in the config to set the min and max, this will tell the plugin what the min and Mac are. Since these are the numbers the API send back, there isn't anything else I can do to fix this.
<a><img src="https://user-images.githubusercontent.com/9875439/129189863-d5e7a41d-f560-470d-839b-95e752dcc9fe.jpeg" width="250px"></a>

[2021-08-14 16:15] jimmyfisher opened #263 "SwitchBots being triggered multiple times when using Home automation"
**Describe The Bug:**

Started noticing that the SwitchBots were running multiple times when triggered by a Home automation.

I have my house set up with an AppleTV as the main hub. Each evening, I have an automation where the SwitchBots turn on the outdoor lights and then in the morning, they turn them off.

This has been working totally normally until a few days ago (we did have a power outage,

[2021-08-16 16:44] DJay-X commented on #225
I guess no news on the API Side regarding contact and motion sensor? @donavanbecker @SwitchBot-Wonderlabs

[2021-08-22 10:15] #180 closed

[2021-08-23 12:17] smartmatic opened #268 "Add support for new released Camera"
**Describe the solution you'd like**

Hello,

i have a the new released SwitchBot camera at home and it would be really nice if the camera can be added in order to work with the plugin. The device discovery text is added in the related section.

Is that possible?

**Additional context**

[23/08/2021, 12:13:47] [SwitchBot] {"deviceId":"xxxxxxx","deviceName":"GarageCam","enableCloudService":true,"hu

[2021-08-24 04:00] jimmyfisher commented on #83
Not sure if related but my open issue here contains some of the same Unknown Error (190) messages

I’ve documented my issue here: [https://github.com/OpenWonderLabs/homebridge-switchbot-openapi/issues/263](https://github.com/OpenWonderLabs/homebridge-switchbot-openapi/issues/263)

Haven’t heard back about this issue but hoping it can be resolved. Perhaps the solve for why my HomeKit ends up sendin

[2021-08-24 14:54] jimmyfisher commented on #83
@SwitchBot-Wonderlabs is there a fix for this yet? Chatting w the developer of this plugin and he referred me back to you. This happens to me seemingly randomly.

[2021-09-02 01:56] donavanbecker commented on #255
Closing duplicate of #268

[2021-09-02 01:56] #255 closed

[2021-09-04 06:51] deflao opened #283 "Speaker volume up/down in remote app issue"
**Describe The Bug:**

So I was using the IR remote function to adjust volume up/down for my soundbar. so every time i open remote on my iPhone to adjust the volume, it adjusts but then turn off the soundbar right after. i went to the logs to check, and turn out that everytime you open the remote on iphone and adjust the volume for the 1st time, it will automatically send a 'turn on' request also

[2021-09-09 07:38] DJay-X commented on #225
Hmm.. Unfortunately, as weeks and months have passed, it seems that SwitchBot @SwitchBot-Wonderlabs @donavanbecker is no longer interested in extending the API so that the Homebridge plugin can also use the new sensors.
Of course, it is a pity that a not inconsiderable part of the community is neglected and not heard at this point.

Due to the ongoing standstill, I cannot currently recommend the n

[2021-09-09 11:34] donavanbecker commented on #225
@DJay-X https://github.com/OpenWonderLabs/python-host/wiki

Here is the connection through BLE, which I would want to implement into the new @switchbot/homebridge-switchbot plugin so that both BLE and OpenAPI are in the same plugin, but I have had time and really don't know how to implement this on node-switchbot

[2021-09-10 08:44] DJay-X commented on #225
@donavanbecker Thanks. According to a latest statement from the developers, the API for sensors is now available.
Looking forward to hear from you with an update of the plugin. Can't wait. Thanks a lot for your time and effort giving this to the community. 👍

[2021-09-10 11:56] donavanbecker commented on #225
@DJay-X, hopefully I get time in a few days. Would you like to beta test?

[2021-09-10 12:40] DJay-X commented on #225
Thanks. I'll give it a try in the next days switching to the new Plugin. And of course I can Beta test with the Contact- and Motion sensor. :)

[2021-09-11 03:53] donavanbecker commented on #225
@DJay-X I have release v0.1.0 of @switchbot/homebridge-switchbot plugin that supports the contact sensors, motion sensors, and water level for humidifiers.

[2021-09-11 03:53] #225 closed

[2021-09-13 12:26] #236 closed

[2021-09-13 18:08] jujugozlan opened #290 "2 switchbot?"
i have one switchbot working and appearing in homekit but i can't manage to add one more (even though i add it in "settings" of the UI, it does not appear in the "devices" section

[2021-09-13 18:08] #290 closed